<div id="success" class="box">
    <div style="text-align: center; margin-bottom: 50px; margin-top: 40px;" class="box-body">
        <img src="../ui/dist1/img/SUCCESS.png" style="margin-top: 70px;" class="img-circle" alt="User Image">
        <h4>
            <b>SUCCESS</b></h4>
        <p style="margin-bottom: 70px;">
            successfully registered</p>
        <div style="padding: 0px 12%; margin: 20px 0px; margin-bottom: 40px !important;"
            class="form-group">
            <button ng-click="onAddAnotherDistibutorClicked()" style="width: 200px; margin: 0px auto; margin-bottom: 15px;" type="button" class="custbtn btn btn-block btn-danger">
                Add Another Distributor</button>
            <!-- <a class="lnkBtn">Back to Home</a> -->
        </div>
    </div>
</div>
