<div class="wrapper">
  <div class="background-object"></div>  

  <header class="main-header">
        <nav class="navbar navbar-static-top">
            <div class="container">
                <div class="navbar-header">
                  <a ui-sref="topnavview.pay" class="custLogo navbar-brand"><img src="../ui/dist1/img/vector-smart-object.png" class="" alt="User Image"></a>
                  <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse">
                    <i class="fa fa-bars"></i>
                  </button>
                </div>
                <!-- <div class="collapse navbar-collapse pull-left" id="navbar-collapse">
                  <ul class="custnav nav navbar-nav">
                    <li ui-sref-active="active"><a ui-sref="topnavview.pay">Pay<span class="sr-only">(current)</span></a></li>
                    <li ui-sref-active="active"><a ui-sref="topnavview.collect">Collect</a></li>
                  </ul>
                </div> -->
            </div>
        </nav>
    </header>
    <div ui-view></div>
    
    <footer class="main-footer">
        <div class="container"><strong>Copyright &copy; 2014-2016.</strong> All rights reserved.</div>
    </footer>
  </div>