<div class="wrapper">
<!--    <header class="main-header">
        <nav class="navbar navbar-static-top">
            <div class="container">
                <div class="navbar-header">
                  <a ui-sref="topnavview.merchantonboarding" class="custLogo navbar-brand"><img src="dist1/img/vector-smart-object.png" class="" alt="User Image"></a>
                  <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse">
                    <i class="fa fa-bars"></i>
                  </button>
                </div>

            </div>
        </nav>
    </header>-->
    <div ui-view="template"></div>
    
  </div>

