/* app css stylesheet */
/*mandates-upload,Dowondload ,collection upload and download
--------------------------------------------------------*/
.formdata-todate{
    font-family: 'Fira Sans', sans-serif;
    font-size: 14px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: 2.14;
    letter-spacing: normal;
    color: #000000;
    text-align: center;
}
.latest-upload-text{
    height: 20px;
    margin-top: 10px;
    width: 85%;
    font-family: 'Fira Sans', sans-serif;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.29;
    letter-spacing: normal;
    text-align: center;
    color: #101010;
}
.batch-upload-gridtext{
    padding: 2px;
    height: 10px;
    font-family: 'Fira Sans', sans-serif;
    font-size: 12px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.29;
    letter-spacing: normal;
    color: #101010;

}
/*----------------------------------------------------*/
.mandate-operation{
    margin-top: 2px;
    height: 11px;
    font-family: 'Fira Sans', sans-serif;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 2.14;
    letter-spacing: normal;
    color: #040404;

}
.linked{
    margin-top: 2px;
    height: 11px;
    font-family: 'Fira Sans', sans-serif;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 2.14;
    letter-spacing: normal;
    color: #040404;
}

.red-text-holder{
    border-style: solid;
    border-width: 2px;
    border-color: red;
    height: 41px;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    width: 41px; display: table
}
.lessthan-10-text{
    border-style: solid;
    border-width: 2px;
    border-color: #838383;
    height: 41px;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    width: 41px; display: table
}
.header-links{
    font-family: 'Fira Sans', sans-serif;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.6;
    letter-spacing: normal;
    text-align: center;
}
.mandatsupload{
    padding-top: 5px;
    margin-left: 5px;
    margin-bottom: 20px;
}
.batch-upload{
    font-family: 'Fira Sans', sans-serif;
    font-size: 19.4px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.07;
    letter-spacing: normal;
    /* text-align: center; */
    color: #787878;


}
md-nav-bar.md-default-theme md-nav-ink-bar, md-nav-bar md-nav-ink-bar {
    color: rgb(255, 237, 0);
    background: rgb(255, 237, 0);
}
.md-button.md-accent {
    color: rgb(208, 195, 21);
}
.mandates-upload{
    height:11px; font-family: 'Fira Sans', sans-serif;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 2.14;
    letter-spacing: normal;
    color: #040404;"
}
.m-b-0{
    margin-bottom:0px !important;
}
.m-t-30{
    margin-top: 30px;
}


/*--------------------------------------------------------------*/


.pay-checker{
    border-color: black;
    border-style: solid;
    border-width: 1px;
}
.m-t-5{
    margin-top: 5px;
}
.welcome-font{
    height: 0px;
    font-family: 'Fira Sans', sans-serif;
    font-size: 13px;
    font-weight: 400;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.23;
    letter-spacing: normal;
    text-align: left;
    color: #000000;
    margin-top: 1px;
    margin-right: 10px;
    display: inline-block;
}
.m-l-2{
    margin-left: 2px;
}
.p-1{
    padding: 1px;
}
.m-t-9{
    margin-top: 9px;
}

.m-l-0{
    margin-left: 0px;
}
.nach-mandates{

    line-height: 54px;
    height: 24px;
    font-size: 24px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    letter-spacing: normal;
    text-align: left;
    color: #535353;
    font-family: 'Fira Sans', sans-serif;
}

.nach-mandates > span {
    font-weight: 800;
    color: #535353;
}

.gateway-icon{
    width: 57px;
    height: 58px;
    object-fit:  cover;
    margin-left: 2px;
    margin-right: 5px;
    float: left;
}

/*--------------------------------------*/
.ui-grid{
    margin-right: 10px !important;
}
.grid-text-font{
    font-family: 'Fira Sans', sans-serif;
    font-size: 12px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: 2.14;
    letter-spacing: normal;
    /* text-align: left; */
    color: #000000;
    text-align: center;
}
.edit-pencil{
    width: 24px;
    height: 22px;
    object-fit: contain;
    opacity: 0.7;
}
.payment-process{
    font-family: 'Fira Sans', sans-serif;
    font-size: 12px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.64;
    letter-spacing: normal;
    text-align: center;
    color: #040404;
}
.day{
    background-color: #ffed00;
    /* width: 28px; */
    font-family: 'Fira Sans', sans-serif;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.29;
    letter-spacing: normal;
    text-align: center;
    color: #787878;
}
.month{
    background-color: #ffed00;
    /* width: 28px; */
    font-family: 'Fira Sans', sans-serif;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.29;
    letter-spacing: normal;
    text-align: center;
    color: #787878;
}
.year{
    background-color: #ffed00;
    /* width: 28px; */
    font-family: 'Fira Sans', sans-serif;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.29;
    letter-spacing: normal;
    text-align: center;
    color: #787878;
}
.user-name{
    font-family: 'Fira Sans', sans-serif;
    font-size: 13px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.23;
    letter-spacing: normal;
    text-align: left;
    color: #000000;
}
.circle-image{
    width: 35px;
    height: 35px;
    object-fit: contain;
    float: left;
    margin-right: 5px;
}

.user-welcome-block {
    margin-top: 10px;
    /* margin-right: 10px; */
}

.notification-image{
    width:26px;
    height:23px;
    object-fit: contain;
}
.login-date{
    margin-top: 0px;
    /* margin-left: -1px; */
    height: 0px;
    font-family: 'Fira Sans', sans-serif;
    font-size: 12px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.33;
    letter-spacing: normal;
    text-align: left;
    color: #000000;
}
/*.lastLogin{
  margin-top: 13px;
  margin-left: 0px;
  height: 0px;
  font-family: 'Fira Sans', sans-serif;
  font-size: 12px;
  font-weight: Bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.33;
  letter-spacing: normal;
  text-align: left;
  color: #000000;

}*/

.nach-header-root {
    max-width: 1200px;
    width: 100%;
    min-width: 900px;
    margin: 4px auto;
}

.header-tab {
    max-width: 1200px;
    width: 100%;
    min-width: 900px;
    margin: 4px auto;
}

.dashboard-body {
    max-width: 1200px;
    width: 100%;
    min-width: 900px;
    margin: 4px auto;

}

.header-title{
    margin-top: 12px;
    height: 24px;
    font-family: 'Fira Sans', sans-serif;
    font-size: 24px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.25;
    letter-spacing: normal;
    color: #535353;
}
.image-size{
    width: 50px;
    height: 54px;
    object-fit: contain;
}
.header-top-style{
    border-top: 4px #ffed00 solid;
    box-shadow: 0 0 5.4px 0.6px rgba(0, 0, 0, 0.22);
    height: 55px;
}
.m-t-13{
    margin-top: 13px;
}
.header-top-style .m-t-3{
    margin-top: 3px !important;
}
.h-70{
    height: 70px;
}
.max-h-11{
    max-height: 11vh;
}
.m-3{
    margin: 3px;
}
.p-0{
    padding: 0px;
}
.m-t-0{
    margin-top: 0px;
}
.header-top-style .p-0{
    padding: 0px;
}
.ui-grid .ui-grid-render-container-body .ui-grid-viewport {
    overflow-x: hidden !important;
    overflow: hidden !important;
    /* or use: overflow-x: hide!important; */
}
.ui-grid >.ui-grid-viewport {
    overflow: hidden;
}
.ui-grid-column-menu-button .ui-grid-icon-angle-down{
    display: none;
}
.ui-grid >.ui-grid-canvas{
    padding: 1px;
}
.ui-grid >.ui-grid-viewport {
    overflow: hidden;
}
.ui-grid-column-menu-button .ui-grid-icon-angle-down{
    display: none;
}
.secoundry-button{
    width: 129px;
    height: 37px;
    border-radius: 18.5px !important;
    background-color: #535353;
    /* height: 13px; */
    font-family: 'Fira Sans', sans-serif;
    font-size: 12px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 0.88;
    letter-spacing: normal;
    text-align: center;
    color: #ffffff;
}
.reject-button{
    width: 99px;
    height: 37px;
    border-radius: 18.5px !important;
    background-color: #535353;
    /* height: 13px; */
    font-family: 'Fira Sans', sans-serif;
    font-size: 12px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 0.88;
    letter-spacing: normal;
    text-align: center;
    color: #ffffff;
}
.primary-button{
    width: 99px;
    height: 37px;
    border-radius: 18.5px !important;
    background-color: #af1917;
    font-family: 'Fira Sans', sans-serif;
    font-size: 12px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 0.88;
    letter-spacing: normal;
    text-align: center;
    color: #ffffff;
}


.ui-grid-viewport{
    overflow: hidden;
    overflow-y: hidden;
    overflow-x: hidden;
}
.ui-grid-header-viewport{
    height: 35px;
    background-color: #ffed00;
}
.ui-grid-header-cell{
    border:0px;
}
.m-t-b-5{
    margin-top: 5px;
    margin-bottom: 5px;
}


/*.header-container >.welcome-font{
  font-size: 12px;
  font-family: 'Fira Sans', sans-serif;
  position: relative;
  top: 2px;
  left: 10px;
  font-weight: 600;
}*/
.week-font{
    background-color: white;
    border-width: 1px;
    border-style: solid;
    padding: 1px;
}
.dash-cursor {
    cursor: pointer;
}
.small-circle{
    text-align: center;
    font-size: 16px;
    display: table-cell;
    vertical-align: middle;
    font-family: 'Fira Sans', sans-serif;
}

.green-text-holder {
    border-style: solid;
    border-width: 2px;
    border-color: #60ba0f;
    height: 41px;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    width: 41px; display: table
}

.Response-Received-label {
    height: 15px;
    font-family: 'Fira Sans', sans-serif;
    font-size: 12px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.29;
    letter-spacing: normal;
    text-align: center;
    color: #787878;
}
.morethan-10{
    /* height: 10px; */
    font-family: 'Fira Sans', sans-serif;
    font-size: 10px;
    font-style: normal;
    font-weight:normal;
    font-stretch: normal;
    line-height: 1;
    letter-spacing: normal;
    text-align: left;
    margin-top: 10px;
    margin-left: 5px;
    color: #101010;
}

.lessthan-10{
    /* height: 10px; */
    font-family: 'Fira Sans', sans-serif;
    font-size: 10px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.29;
    letter-spacing: normal;
    text-align: left;
    margin-top: 10px;
    margin-left: 5px;
    color: #101010;
}
.filure-label{
    height: 10px;
    font-family: 'Fira Sans', sans-serif;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.29;
    letter-spacing: normal;
    text-align: left;
    margin-top: 10px;
    margin-left: 5px;
    color: #101010;
}
.success-label{
    height: 10px;
    font-family: 'Fira Sans', sans-serif;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.29;
    letter-spacing: normal;
    text-align: left;
    margin-top: 10px;
    margin-left: 5px;
    color: #101010;
}
.response-receivednocolr{
    height: 17px;
    font-family: 'Fira Sans', sans-serif;
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.88;
    letter-spacing: normal;
    text-align: left;
    padding: 5px;
    color: #787878;
    margin-top: 15px;
}
.total-response-num {
    width: 75px;
    font-family: 'Fira Sans', sans-serif;
    font-size: 47px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    margin: 0;
    line-height: 55px;
    letter-spacing: normal;
    text-align: center;
    color: #d40f14;
}


.total-response-text {
    width: 100%; height: 35px; background-color: #d40f14; padding-left: 5px;
}

.total-response-text {
    width: 100%; height: 35px; background-color: #d40f14; padding-left: 5px;
}

.total-response-text > p {
    font-size: 18px;
    color: #FFFFFF;
    line-height: 38px;
    font-family: 'Fira Sans', sans-serif;
    padding-left: 10px;
}

.total-pending-num {
    width: 60px;
    font-family: 'Fira Sans', sans-serif;
    font-size: 47px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    margin: 0;
    line-height: 55px;
    letter-spacing: normal;
    text-align: center;
    color: #ed6826;
}

.total-pending-text {
    width: 100%; height: 35px; background-color: #ed6826; padding-left: 5px;
}

.total-pending-text {
    width: 100%; height: 35px; background-color: #ed6826; padding-left: 5px;
}


.total-pending-text > p {
    font-size: 18px;
    color: #FFFFFF; line-height: 30px;font-family: 'Fira Sans', sans-serif;
}
/*.header-container>.lastLogin{
  height: 29px;
  font-family: 'Fira Sans', sans-serif;
  font-size: 12px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.33;
  letter-spacing: normal;
  text-align: left;
  color: #000000;"
}*/
.header-container >.date-header-font{
    position: absolute;
    margin-top: 25px;
    margin-left: 37px;
    height: 29px;
    font-family: 'Fira Sans', sans-serif;
    font-size: 12px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.33;
    letter-spacing: normal;
    text-align: left;
    color: #000000;
}
.date-login-font{
    position: absolute;
    margin-top: 25px;
    margin-left: 50px;
    height: 29px;
    font-family: 'Fira Sans', sans-serif;
    font-size: 12px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.33;
    letter-spacing: normal;
    text-align: left;
    color: #000000;"
}
.login-date{
    font-family: 'Fira Sans', sans-serif;
    font-size: 12px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.33;
    letter-spacing: normal;
    text-align: left;
    color: #000000;
    margin-bottom: -15px;
    position:  absolute;
"
}
.lastlogin-font{
    margin-top: 10px;
    font-family: 'Fira Sans', sans-serif;
    font-size: 12px;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.25;
    letter-spacing: normal;
    text-align: left;
    color: #000000;

}
html {
    font-family: 'Fira Sans', sans-serif;
}

.header-container {
    margin-top: 5px;
    margin-bottom: 5px;
}
.header-container >.calendar-icon{
    float: left;
    width: 23px;
}
/*.header-container >.notefication-icon{
  float: left;
  width: 23px;
}*/
.header-container img{
    float: left;
    width: 40px;
}
.notification
{
    top:5px;
    float: right;
    width: 40px;
}
.header-container p {
    font-size: 24px;
    font-family: 'Fira Sans', sans-serif;
    position: relative;
    top: 2px;
    left: 10px;
}

.header-container-user{
    height: 28px;
    font-family: 'Fira Sans', sans-serif;
    font-size: 13px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.23;
    letter-spacing: normal;
    text-align: left;
}
.p-10{
    padding: 10px;
}

.menu {
    list-style: none;
    border-bottom: 0.1em solid black;
    margin-bottom: 2em;
    padding: 0 0 0.5em;
}

.menu:before {
    content: "[";
}

.menu:after {
    content: "]";
}

.menu > li {
    display: inline;
}

.menu > li + li:before {
    content: "|";
    padding-right: 0.3em;
}
/*header styles --------------------------*/
.header-padding{
    max-width: 31px;
}
.header-size {
    height: 79px;
    background-color: #ffffff;
    box-shadow: 0 0 5.4px 0.6px rgba(0, 0, 0, 0.22);
}
.head-image{
    width: 57px;
    height: 57px;
    border-color: black;
    border-style: solid;
}


/*end of the header --styles----------------*/
.Copyrights-ABPB-2018 {

    height: 15px;
    font-family: 'Fira Sans', sans-serif;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 2.14;
    letter-spacing: normal;
    text-align: center;
    color: #040404;
    text-align: center;
}
.nach-footer-font{
    height: 15px;
    font-family: 'Fira Sans', sans-serif;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 2.14;
    letter-spacing: normal;
    text-align: center;
    color: #040404;
}
.nach-footer {
    bottom: 0;
}

.response-recived-statusfont{
    height: 17px;
    font-family: 'Fira Sans', sans-serif;
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.88;
    letter-spacing: normal;
    text-align: left;
    color: #787878;
}
.total-response-received{
    background-color: #d40f14;
    padding: 5px;
    /* height: 15px; */
    font-family: 'Fira Sans', sans-serif;
    font-size: 15px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1;
    letter-spacing: normal;
    text-align: center;
    color: #ffffff;
}



.response-received-tab{
    height: 34px;
    background-color: #d40f14;
}
.p-t-10{
    padding-top: 12px
}
.response-received-font{
    width: 75px;
    height: 34px;
    font-family: 'Fira Sans', sans-serif;
    font-size: 47px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 0.32;
    letter-spacing: normal;
    text-align: center;
    color: #d40f14;
}

.m-t-10{
    margin-top: 10px;
}

.main-block-width{
    width: 94.33%;
    padding: 0px;
}
.m-t-b-15{
    margin-top: 15px;
    margin-bottom: 15px;
}
.m-t-b-10{
    margin-top: 10px;
    margin-bottom: 10px;
}
.mandate-collection-font{
    width: 61px;
    height: 11px;
    font-family: 'Fira Sans', sans-serif;
    font-size: 18px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.6;
    letter-spacing: normal;
    text-align: center;
    color: #040404;
}
.Rectangle-mandates-collection {
    height: 40px;
    background-color: #ffed00;
}


.login-container {
    max-width: 300px;
    width: 100%;
    margin: 0 auto;
}

.make-center {
    text-align: center;

}
.claedd {
    font-family: Fira Sans;
    font-size: 14px;
    padding: 5px;
}
.even{
    background-color: lightgrey;

}
.odd{
    background-color:white;
}
.maker-names{
    padding-top: 12px;
    font-family: 'Fira Sans', sans-serif;
    font-size: 14px;
    text-align: center;
    white-space: normal;
}
/* app css stylesheet */

/* .menu {
  list-style: none;
  border-bottom: 0.1em solid black;
  margin-bottom: 2em;
  padding: 0 0 0.5em;
}

.menu:before {
  content: "[";
}

.menu:after {
  content: "]";
}

.menu > li {
  display: inline;
}

.menu > li + li:before {
  content: "|";
  padding-right: 0.3em;
} */

.valid-err-msg {
    font-size: 8px;
    color: red;
}

.loader {
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}


.material-tab {
    max-width: 960px;
    margin: 0 auto;
    border-bottom: 0px;
    padding: 0 50px;
}

.nav-center {
    display: flex;
    justify-content: center;
    flex-direction: row;
}

.nav-tabs {
    border-bottom-style: none;
}

.header-inner {
    padding: 15px 0;
    max-width: 960px;
    margin: 0 auto;
}

.tab-header {
    padding: 0 15px;
    /* color: #fff; */
    -webkit-box-shadow: 2px 4px 5px 2px rgba(194,194,194,1);
    -moz-box-shadow: 2px 4px 5px 2px rgba(194,194,194,1);
    box-shadow: 2px 4px 5px 2px rgba(194,194,194,1);
}

.nav.nav-tabs > li > a:focus, .nav.nav-tabs > li > a:hover {
    background: transparent;
    outline: 0;
}

.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover, .nav-tabs>li.active>a:active {
    background: transparent;
    color: #E36627;
    cursor: default;
    border: 0;
}

.nav-tabs>li>a {
    position: relative;
    color: #333333;
    border: 0px;
    font-weight: bold;
    padding: 12px 15px 14px 15px;
}

.nav-tabs>li >a:hover {
    /* color: rgba(255, 255, 255, 0.8); */
    background: transparent;
}

ul.nav-tabs>li.active>a:after {
    display: block;
    content: '';
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 100%;
    height: 4px;
    background: #E36627;
}

.tab-content.white-bg-tabs {
    padding: 15px;
}

.tab-content.white-bg-tabs .tab-pane {
    max-width: 960px;
    margin: 0 auto;
    /* background: white; */
    padding: 10px;
    text-align: center;
    -webkit-box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    color: #ddd;
}

.clear-left-float {
    clear: both;
}

li > a > #quickpay-img {
    background: url("dist1/img/tab-icons/quick-pay.png");
    float: left;
    margin-right: 10px;
    width: 42px;
    height: 42px;
    margin-top: -10px;
}

li.active > a > #quickpay-img {

    background: url("dist1/img/tab-icons/quick-pay-1.png") ;
    float: left;
    margin-right: 10px;
    width: 42px;
    height: 42px;
    margin-top: -10px;
}

li > a > #internetbanking-img {
    background: url("dist1/img/tab-icons/internet-banking.png");
    float: left;
    margin-right: 10px;
    width: 42px;
    height: 42px;
    margin-top: -10px;
}

li.active > a > #internetbanking-img {
    background: url("dist1/img/tab-icons/internet-banking-1.png");
    float: left;
    margin-right: 10px;
    width: 42px;
    height: 42px;
    margin-top: -10px;
}

li > a > #cards-img {
    background: url("dist1/img/tab-icons/cards.png");
    float: left;
    margin-right: 10px;
    width: 42px;
    height: 42px;
    margin-top: -10px;
}

li.active > a > #cards-img {
    background: url("dist1/img/tab-icons/cards-1.png");
    float: left;
    margin-right: 10px;
    width: 42px;
    height: 42px;
    margin-top: -10px;
}

li > a > #vpatransfer-img {
    background: url("dist1/img/tab-icons/vpa-traansfer.png");
    float: left;
    margin-right: 10px;
    width: 42px;
    height: 42px;
    margin-top: -10px;
}

li.active > a > #vpatransfer-img {
    background: url("dist1/img/tab-icons/vpa-traansfer-1.png");
    float: left;
    margin-right: 10px;
    width: 42px;
    height: 42px;
    margin-top: -10px;
}

.no-margin {
    margin: 0;
}

.bank-card {
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(46, 46, 46, 0.356);
    border-radius: .25rem;
    position: relative;
    width: 200px;
}

.bank-card > img {
    width: 120px;
    margin-top: 10px;
    margin-bottom: 5px;
    margin-left: -40px;
}

.bank-card-radio-btn {
    top: 5px;
    right: 10px;
    position: absolute;
}

.bank-card-name {
    font-weight: bolder;
    font-size: 18px;
    margin-top: 10px;
    margin-bottom: 15px;
    margin-right: 25px;
}

.bank-card-seprator {
    position: absolute;
    bottom: 25px;
    margin: 0;
    border-top: 1px solid #bbb;
    width: 100%;
    left: 0;
    height: 1px;
}

.bank-card-ac-num {
    margin-bottom: 6px;
}

.select-pay-options-head {
    margin-top: 30px;
    margin-bottom: 20px;
    border-bottom: 1px solid;
    color:#aaa;
    font-weight: 700;
    font-size: 15px;
    padding-bottom: 5px;
}

input[type='radio'] {
    transform: scale(1.25);
}

.select-pay-options-head > img {
    padding-right: 8px;
}

.select-pay-vpa {
    background-color:#eee;
    padding: 10px;
    margin-bottom: 5px;
}

.select-pay-vpa > input {
    margin-right: 8px;
}

body
{
    font-family: 'Helvetica', sans-serif !important;
}
.custom-badge {
    position: absolute;
    right: 10px;
    top: 25px;
}

.background-object
{
    position: fixed;
    top: 0;
    bottom: 0;
    width: 1250px;
    background-color: #f3f3f3;
    z-index: -1;
}

.main-footer {
    position: fixed;
    bottom: 0;
    width: 1250px;
}

.is-over-due {
    color: red;
    font-weight: 700;
    font-size: 12px !important;
}

.is-due {
    color: #000;
    font-weight: 700;
    font-size: 12px !important;
}

.invoice-item {
    padding-left: 30px;
}

.invoice-align-middle {
    position: absolute;
    top: 25px;
}

.invoice-item-clientname {
    font-family: 'Helvetica', sans-serif !important;
    font-size: 18px !important;
}

.transactions-caption {
    font-weight: 600;
    font-size: 13px !important;
    color: #888;
}

.transactions-value {
    font-weight: 300;
    font-size: 13px !important;
    color: #888;
}

.bg-abpb-maroon {
    background-color:#A31916;
    height: 35px;
    color: #fff;
}

.left30 {
    padding-top: 10px;
    padding-left: 30px;
}

.bank-entry-chkbx {
    height: 50px;
    padding-top: 10px;
    padding-left: 30px;
}

.bank-entry-content {
    height: 50px;
    padding-top: 5px;
    padding-left: 30px;
}

.select-all-txtbox {
    position: absolute;
    top: 8px;
    left: 31px;
}

.select-all-lbl {
    margin-left: 30px;
    margin-top: -2px;
    font-size: 15px;
}

.upi-entry-content {
    height: 50px;
    padding-top: 12px;
    padding-left: 30px;
}

.is-paid {
    color: #00550C;
    font-weight: 700;
    font-size: 12px !important;
}

.collapse-btn {
    text-align: left;
    position: relative;
    border-radius: 0;
}

.collapse-btn > .collapse-icon {
    position: absolute;
    right: 10px;
    top: 10px;
}

.badge-success {
    background-color: #468847;
    margin-bottom: 4px;
}

.badge-warning {
    background-color: #f89406;
    margin-bottom: 4px;
}



@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

/*
.checkbox {
    padding-left: 20px; }
    .checkbox label {
      display: inline-block;
      position: relative;
      padding-left: 5px; }
      .checkbox label::before {
        content: "";
        display: inline-block;
        position: absolute;
        width: 17px;
        height: 17px;
        left: 0;
        margin-left: -20px;
        border: 1px solid #cccccc;
        border-radius: 3px;
        background-color: #fff;
        -webkit-transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
        -o-transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
        transition: border 0.15s ease-in-out, color 0.15s ease-in-out; }
      .checkbox label::after {
        display: inline-block;
        position: absolute;
        width: 16px;
        height: 16px;
        left: 0;
        top: 0;
        margin-left: -20px;
        padding-left: 3px;
        padding-top: 1px;
        font-size: 11px;
        color: #555555; }
    .checkbox input[type="checkbox"] {
      opacity: 0; }
      .checkbox input[type="checkbox"]:focus + label::before {
        outline: thin dotted;
        outline: 5px auto -webkit-focus-ring-color;
        outline-offset: -2px; }
      .checkbox input[type="checkbox"]:checked + label::after {
        font-family: 'FontAwesome';
        content: "\f00c"; }
      .checkbox input[type="checkbox"]:disabled + label {
        opacity: 0.65; }
        .checkbox input[type="checkbox"]:disabled + label::before {
          background-color: #eeeeee;
          cursor: not-allowed; }
    .checkbox.checkbox-circle label::before {
      border-radius: 50%; }
    .checkbox.checkbox-inline {
      margin-top: 0; }

  .checkbox-primary input[type="checkbox"]:checked + label::before {
    background-color: #428bca;
    border-color: #428bca; }
  .checkbox-primary input[type="checkbox"]:checked + label::after {
    color: #fff; }

  .checkbox-danger input[type="checkbox"]:checked + label::before {
    background-color: #d9534f;
    border-color: #d9534f; }
  .checkbox-danger input[type="checkbox"]:checked + label::after {
    color: #fff; }

  .checkbox-info input[type="checkbox"]:checked + label::before {
    background-color: #5bc0de;
    border-color: #5bc0de; }
  .checkbox-info input[type="checkbox"]:checked + label::after {
    color: #fff; }

  .checkbox-warning input[type="checkbox"]:checked + label::before {
    background-color: #f0ad4e;
    border-color: #f0ad4e; }
  .checkbox-warning input[type="checkbox"]:checked + label::after {
    color: #fff; }

  .checkbox-success input[type="checkbox"]:checked + label::before {
    background-color: #5cb85c;
    border-color: #5cb85c; }
  .checkbox-success input[type="checkbox"]:checked + label::after {
    color: #fff; } */

.round {
    position: relative;
}

.round label {
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 50%;
    cursor: pointer;
    height: 28px;
    left: 0;
    position: absolute;
    top: 0;
    width: 28px;
}

.round label:after {
    border: 2px solid #fff;
    border-top: none;
    border-right: none;
    content: "";
    height: 6px;
    left: 7px;
    opacity: 0;
    position: absolute;
    top: 8px;
    transform: rotate(-45deg);
    width: 12px;
}

.round input[type="checkbox"] {
    visibility: hidden;
}

.round input[type="checkbox"]:checked + label {
    background-color: #66bb6a;
    border-color: #66bb6a;
}

.round input[type="checkbox"]:checked + label:after {
    opacity: 1;
}


.full-white-background
{
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #fff;
    z-index: -1;
}

.vendor-header {
    height: 50px;
    width: 100%;
    background-color: #fff;
    position: relative;
    -webkit-box-shadow: 0px 3px 5px 0px rgba(194,194,194,1);
    -moz-box-shadow: 0px 3px 5px 0px rgba(194,194,194,1);
    box-shadow: 0px 3px 5px 0px rgba(194,194,194,1);
    z-index: 999999;
}

.vendor-footer {
    height: 50px;
    line-height: 50px;
    width: 100%;
    background-color: #f1f1f1;
    bottom: 0;
    position: fixed;
    display: block;
    text-align: center;
}

.thin-yellowline {
    width: 100%;
    height: 3px;
    background-color: #feeb34 !important
}

.header-vendor-logo {
    position: absolute;
    top: 10px;
    left: 20px;
    height: 36px;
}

.header-abpb-logo {
    position: absolute;
    top: 10px;
    right: 20px;
    height: 35px;
}

.select-payment-text {
    padding-top: 10px;
    padding-bottom: 2px;
    background-color: #FFFFFF;
    font-size: 13px;
    font-weight: 600;
    margin-bottom: 30px;
}

.card-block {
    position: relative;
}

.card-btn-background {
    height: 50px;
    line-height: 50px;
    width: 100%;
    background-color: #f1f1f1;
    z-index: -1;
    position: absolute;
    bottom: 0;
}

.large-screen-margin {
    max-width: 1100px;
    margin-right: auto;
    margin-left: auto;
    padding-left: 20px;
    padding-right: 20px;
}

.card-type-text {
    font-weight: 450;
}

.card-type-radio-btn {
    top: 5px;
    right: 5px;
    position: absolute;
}

.card-type-box {
    width: 200px;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid #1B3B48;
    border-radius: .25rem;
    position: relative;
    display: inline-block;
    margin-right: 5px;
    color: #1B3B48;
}

.card-type-box > p {
    font-weight: 700;
    margin: 10px 0;
}

.deselected-color-box {
    border: 1px solid #1B3B48;
    color: #1B3B48;
}

.selected-color-box {
    border: 1px solid #E36627;
    color: #E36627;
}
.tabel-header{
    height: 45px;
    background-color: #ffed00;"
}
.table-header-font{
    width: 65px;
    height: 13px;
    font-family:'Fira Sans', sans-serif;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;

    letter-spacing: normal;
    text-align: left;
    color: #040404;
}
.table-body-font{
    width: 80px;
    height: 11px;
    font-family:'Fira Sans', sans-serif;
    font-size: 14px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.0;
    letter-spacing: normal;
    text-align: left;
    color: #000000;
}
.table-body-date{
    width: 130px;
    height: 14px;
    opacity: 0.8;
    font-family:'Fira Sans', sans-serif;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 2.14;
    letter-spacing: normal;
    text-align: left;
    color: rgba(4, 4, 4, 0.8);
}
.dataTables_scroll{
    overflow: auto;!important;
    width: 100%;  !important;
    height: 50vh !important;
}
.sorting, .sorting_asc, .sorting_desc {
    background : none;
}
#example_filter.dataTables_filter input[type="search"]:focus {
    border-color: #66afe9;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6);
}


