<div class="dashboard-body" style="margin-top:5px;border-style: solid;border-color: black;border-width:1px">
    <div class="row" style="background-color: white;
    margin-left: 0px;
    margin-right: 0px;">
        <div class="col-sm-12" style="margin-top: 10px;">
            <p style="margin-left: 5px" class="batch-upload">Invoice Upload </p>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <iframe width="100%" height="400" ng-src="https://13.126.208.204:8070/clientupload"></iframe>
        </div>
    </div>

</div>

