<div class="container-fluid" ng-controller="footerCtrl">
        <div class="row" style="background-color: lightgray">
            <div class="col-sm-12" style="text-align: center">
               <p class="Copyrights-ABPB-2018">Copyrights@ABPB 2018</p>
            </div>
        </div>
    </div>