<div class="row header-top-style h-70" ng-controller="headerCtrl" style="background-color: white">

    <div class="nach-header-root row">
        <div class="col-xs-4">
            <div>
                <img src="/ui/images/gateway_icon.png" class="gateway-icon">
            </div>

            <div class="nach-mandates">
                <span>Invoice&nbsp;</span>Management
            </div>
        </div>

        <div class="col-xs-4 text-center">


        </div>

        <div class="col-xs-4 user-welcome-block pull-right">
            <!-- <div class=" pull-right"> -->
            <div class="pull-right" style="text-align: right">
                <p class="welcome-font">Welcome {{userName}}
                    <br/>
                    <a href="#" class="setLogout" onclick="document.forms['logoutForm'].submit()">Logout</a>
                </p>
                <br>
                <form id="logoutForm" action="/logout" method="POST"></form>
            </div>

        </div>


    </div>
</div>
<div class="header-tab row">
    <md-content class="md-padding  p-0" style="width: 100%;overflow: hidden">
        <md-nav-bar md-selected-nav-item="currentNavItem" nav-bar-aria-label="navigation links">
            <!--payment initiator-------------------------------------------------------------->
            <md-nav-item ng-if="roleId==1"  md-nav-sref="initiatePayment.pay"
                         name="initiatePayment.pay" value="initiatePayment.pay">
                <p class="header-links">Initiate Payment </p>

            </md-nav-item>
           <!-- <md-nav-item    md-nav-sref="batchupload" name="batchupload"
                          value="batchupload">
                <p class="header-links"> Pending</p>

            </md-nav-item>
            <md-nav-item  md-nav-sref="batchupload" name="batchupload"
                          value="batchupload">
                <p class="header-links"> Payment Completed</p>

            </md-nav-item>
            <md-nav-item  md-nav-sref="batchupload" name="batchupload"
                          value="batchupload">
                <p class="header-links"> Payment Failed</p>

            </md-nav-item>-->
            <!-------------------------------------------------------------------------------------->

          <!--  <md-nav-item md-nav-sref="onboardentity"
                         name="onboardentity"
                         value="onboardentity">
                <p class="header-links"> On board Entity</p>

            </md-nav-item>-->

            <!--paymentmaker --------------------------------------------------------------------->
            <md-nav-item ng-if="roleId==3" md-nav-sref="invoicemaker"
                         name="invoicemaker"
                         value="invoicemaker">
                <p class="header-links">View Invoice</p>

            </md-nav-item>
            <md-nav-item ng-if="roleId==3"  md-nav-sref="batchupload" name="batchupload"
                          value="batchupload">
                <p class="header-links"> Upload Invoice</p>

            </md-nav-item>
            <md-nav-item  ng-if="roleId==3" md-nav-sref="invoicemakerpending" name="invoicemakerpending"
                          value="invoicemakerpending">
                <p class="header-links">View Pending Invoice</p>

            </md-nav-item>
            <md-nav-item ng-if="roleId==3"  md-nav-sref="invoiceapprovedmaker" name="invoiceapprovedmaker"
                          value="invoiceapprovedmaker">
                <p class="header-links">View Approved Invoice</p>

            </md-nav-item>
       <!--------------------------------------------------------------------------------->

            <!--checker ------------------------------------------------------------>
            <md-nav-item ng-if="roleId==2" md-nav-sref="viewinvoicechecker"
                         name="viewinvoicechecker"
                         value="viewinvoicechecker">
                <p class="header-links"> view Pendign Invoice </p>

            </md-nav-item>
            <md-nav-item ng-if="roleId==2"  md-nav-sref="invoiceapprovedchecker" name="invoiceapprovedchecker"
                          value="invoiceapprovedchecker">
                <p class="header-links"> view Approved Invoice</p>

            </md-nav-item>
            <md-nav-item ng-if="roleId==2"  md-nav-sref="invoicependingchecker" name="invoicependingchecker"
                          value="invoicependingchecker">
                <p class="header-links"> View Payment Processed Invoice</p>

            </md-nav-item>

        <!------------------------------------------------------------------------->

        </md-nav-bar>
    </md-content>
</div>