<div class="dashboard-body">
	<div class="row">
		<div class="col-sm-12">
			<div class="content-wrapper" style="margin-left: 0px">
				<div class="container">
					<section class="content">
						<div class="row">
							<div class="col-md-12">
								<div id="bankInfo" class="nav-tabs-custom" style="display: block;">
									<ul class="nav nav-tabs">
										<li ui-sref-active="active"><a ui-sref="initiatePayment.pay" >Pay</a></li>
										<!--<li ui-sref-active="active"><a ui-sref="topnavview.payment.collect">Collect</a></li>-->
									</ul>
									<div class="box-group">
										<div class="box" ui-view="template"></div>
									</div>
								</div>
							</div>
						</div>
					</section>
				</div>
			</div>
		</div>
	</div>
</div>
