<div ng-cloak >
        <div class="content-wrapper">
            <div class="container">
                <section class="content">
                    <div class="row">
                        <div class="col-md-12">
                            <div id="bankInfo" class="nav-tabs-custom" style="display: block;">
                                <ul class="nav nav-tabs">
                                    <li ui-sref-active="active"><a ui-sref="topnavview.choosepayment.quickpay" >Quick Pay</a></li>
                                    <li ui-sref-active="active"><a ui-sref="topnavview.choosepayment.internetbanking">Internet Banking</a></li>
                                    <li ui-sref-active="active"><a ui-sref="topnavview.choosepayment.cards">Cards</a></li>
                                    <li ui-sref-active="active"><a ui-sref="topnavview.choosepayment.vpatransfer">VPA Transfer</a></li>
                                </ul>
                                <div class="box-group">
                                    <div class="box" ui-view="template"></div>
                                </div>                            
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>
<!-- <div class="wrapper">
    <div class="background-object"></div>

    <header class="main-header">
        <nav class="navbar navbar-static-top">
            <div class="container">
                <div class="navbar-header">
                    <a ui-sref="topnavview.pay" class="custLogo navbar-brand"><img src="dist1/img/vector-smart-object.png" class="" alt="User Image"></a>
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse">
                          <i class="fa fa-bars"></i>
                        </button>
                </div>
            </div>
        </nav>
    </header>
    <div class="row">
        <div class="col-md-12 text-center" >
            <h4>Select your payment method and click "Pay Now"</h4>
        </div>

    </div>

    <div style="padding:20px;">
        <br>
        <br>
        
        <div class="panel panel-default">
            <button type="button" class="btn btn-block collapse-btn" ng-click="netBankingCollapsed=!netBankingCollapsed">
                        Net Banking
                        <span ng-if="!netBankingCollapsed" class="glyphicon glyphicon-menu-down collapse-icon"></span>
                        <span ng-if="netBankingCollapsed" class="glyphicon glyphicon-menu-right collapse-icon"></span>
                    </button>
            <div class="panel-collapse" ng-show="!netBankingCollapsed">
                <div class="bank-entry" ng-repeat="bankEntry in netBankingArray">

                    <div>

                        <div class="row">
                            <div class="col-sm-1 bank-entry-chkbx">

                                <div class="round" ng-click="onPreferredBankChange(bankEntry)">
                                    <input type="checkbox" ng-model="bankEntry.preferredFlag" ng-true-value="'Y'" ng-false-value="'N'" />
                                    <label></label>
                                </div>
                            </div>
                            <div class="col-sm-11 bank-entry-content">
                                <span>{{bankEntry.bankName}}</span>
                                <br>
                                <span>{{bankEntry.accountNo}}</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="panel panel-default">
            <button type="button" class="btn btn-block collapse-btn" ng-click="upiDetailsCollapsed=!upiDetailsCollapsed">
                        UPI Handler
                        <span ng-if="!upiDetailsCollapsed" class="glyphicon glyphicon-menu-down collapse-icon"></span>
                        <span ng-if="upiDetailsCollapsed" class="glyphicon glyphicon-menu-right collapse-icon"></span>
                    </button>
            <div class="panel-collapse" ng-show="!upiDetailsCollapsed">
                <div class="bank-entry" ng-repeat="upiEntry in UPIArray">

                    <div>

                        <div class="row">
                            <div class="col-sm-1 bank-entry-chkbx">

                                <div class="round" ng-click="onPreferredUPIHandlerChange(upiEntry)">
                                    <input type="checkbox" ng-model="upiEntry.preferredFlag" ng-true-value="'Y'" ng-false-value="'N'" />
                                    <label></label>
                                </div>
                            </div>
                            <div class="col-sm-11  upi-entry-content">
                                <span>{{upiEntry.handlerName}}</span>
                                <br>
                                <span></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="panel panel-default">
            <button type="button" class="btn btn-block collapse-btn" ng-click="crOrDbtDetailsCollapsed=!crOrDbtDetailsCollapsed">
                Credit/Debit Cards
                <span ng-if="!crOrDbtDetailsCollapsed" class="glyphicon glyphicon-menu-down collapse-icon"></span>
                <span ng-if="crOrDbtDetailsCollapsed" class="glyphicon glyphicon-menu-right collapse-icon"></span>
            </button>
            <div class="panel-collapse" ng-show="!crOrDbtDetailsCollapsed">
                <div class="bank-entry">
                    <div> -->
                        
                        <!-- <div class="row">
                            <div class="col-sm-1 bank-entry-chkbx">

                                <div class="round" ng-click="onDebitCardPreffered()">
                                    <input type="checkbox" ng-model="isDebitCardPreferred" />
                                    <label></label>
                                </div>
                            </div>
                            <div class="col-sm-11 upi-entry-content">
                                <span>Debit Card</span>
                                <br>
                                <span></span>
                            </div>
                        </div> -->
                        <!-- <div class="row">
                            <div class="col-sm-1 bank-entry-chkbx">

                                <div class="round" ng-click="onCreditCardPreffered()">
                                    <input type="checkbox" ng-model="isCreditCardPreferred" />
                                    <label></label>
                                </div>
                            </div>
                            <div class="col-sm-11 upi-entry-content">
                                <span>Credit Card</span>
                                <br>
                                <span></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row ">
            <div class="col-md-12 left30">
                <button ng-click="onProceedBtnClicked()" style="width: 200px; margin: 10px auto; border-radius:15px;" type="button" class="custbtn btn btn-block btn-danger">
                                    Proceed</button>
            </div>
        </div>
    </div> -->

    <footer class="main-footer">
        <div class="container"><strong>Copyright &copy; 2014-2016.</strong> All rights reserved.</div>
    </footer>
</div>