<div class="dashboard-body">
    <div class="row">
        <div class="col-sm-12">
            <div class="content-wrapper" style="margin-left: 0px">
                <div class="container">
                    <section class="content">
                        <div class="row">
                            <div class="col-md-8">
                                <div id="userInfo" class="box box-widget widget-user" style="display: block;">
                                    <div class="widget-user-header">
                                    </div>
                                    <div class="widget-user-image">
                                        <img class="img-circle" src="../ui/dist1/img/user1-128x128.jpg" alt="User Avatar">
                                        <h4 class="widget-user-username">{{distributorDetails.p_first_name +" "+ distributorDetails.p_last_name}}</h4>
                                    </div>
                                    <div class="custfoot box-footer">
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="form-group custcontrolinfo col-sm-6">
                                                    <label for="inputEmail3" class="custlbl col-sm-5 control-label">
                                                        Establishment Name</label>
                                                    <div class="col-sm-7">
                                                        <label for="inputEmail3" class="custlblres col-sm-12 control-label">{{distributorDetails.p_establishment_name}}</label>
                                                    </div>
                                                </div>
                                                <div class="form-group custcontrolinfo col-sm-6">
                                                    <label for="inputEmail3" class="custlbl col-sm-5 control-label">
                                                        Entity Level</label>
                                                    <div class="col-sm-7">
                                                        <label for="inputEmail3" class="custlblres col-sm-12 control-label">{{distributorDetails.p_entity_level}}</label>
                                                    </div>
                                                </div>
                                                <div class="form-group custcontrolinfo col-sm-6">
                                                    <label for="inputEmail3" class="custlbl col-sm-5 control-label">
                                                        Mobile #</label>
                                                    <div class="col-sm-7">
                                                        <label for="inputEmail3" class="custlblres col-sm-12 control-label">{{distributorDetails.p_phone_no_work}}</label>
                                                    </div>
                                                </div>
                                                <div class="form-group custcontrolinfo col-sm-6">
                                                    <label for="inputEmail3" class="custlbl col-sm-5 control-label">
                                                        Emai ID</label>
                                                    <div class="col-sm-7">
                                                        <label for="inputEmail3" class="custlblres col-sm-12 control-label">{{distributorDetails.p_email_id}}</label>
                                                    </div>
                                                </div>
                                                <div class="form-group custcontrolinfo col-sm-6">
                                                    <label for="inputEmail3" class="custlbl col-sm-5 control-label">
                                                        Proof of Identity</label>
                                                    <div class="col-sm-7">
                                                        <label for="inputEmail3" class="custlblres col-sm-12 control-label">{{distributorDetails.p_poi_type +"-"+ distributorDetails.p_poi_id}}</label>
                                                    </div>
                                                </div>
                                                <div class="form-group custcontrolinfo col-sm-6">
                                                    <label for="inputEmail3" class="custlbl col-sm-5 control-label">
                                                        Proof of Address</label>
                                                    <div class="col-sm-7">
                                                        <label for="inputEmail3" class="custlblres col-sm-12 control-label">{{distributorDetails.p_poa_type +"-"+ distributorDetails.p_poa_id}}</label>
                                                    </div>
                                                </div>
                                                <div class="form-group custcontrolinfo col-sm-6">
                                                    <label for="inputEmail3" class="custlbl col-sm-5 control-label">
                                                        Shop Address</label>
                                                    <div class="col-sm-7">
                                                        <label for="inputEmail3" class="custlblres col-sm-12 control-label">
                                                            {{distributorDetails.p_s_doorno +", "+ distributorDetails.p_s_street}}<br>{{distributorDetails.p_s_city_village_town +", "+ distributorDetails.p_s_district}}<br>{{distributorDetails.p_s_state}}<br>{{distributorDetails.p_s_pincode}}
                                                        </label>
                                                    </div>
                                                </div>
                                                <div class="form-group custcontrolinfo col-sm-6">
                                                    <label for="inputEmail3" class="custlbl col-sm-5 control-label">
                                                        Mailing Address </label>
                                                    <div class="col-sm-7">
                                                        <label for="inputEmail3" class="custlblres col-sm-12 control-label">
                                                            {{distributorDetails.p_m_doorno +", "+ distributorDetails.p_m_street}}<br>{{distributorDetails.p_m_city_village_town +", "+ distributorDetails.p_m_district}}<br>{{distributorDetails.p_m_state}}<br>{{distributorDetails.p_m_pincode}}
                                                        </label>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div id="confirmation">
                                    <div class="box" style="padding:20px 40px;">
                                        <div class="box-body">
                                            <ul class="bankdet">
                                                <li class="bankhead">Net Banking</li>
                                                <p ng-if="distributorDetails.bankDetails.length == 1 && !distributorDetails.bankDetails[0].isValid">No Net banking details added</p>
                                                <div class="bankDetail" ng-repeat="bankDetail in distributorDetails.bankDetails" ng-if="bankDetail.isValid">
                                                    <div class="bankACdetails">
                                                        <span class="srNo">{{$index+1}}</span>
                                                        <span class="bankName">{{bankDetail.abd_bank_name +' - '+ bankDetail.abd_account_no}}</span>
                                                        <span class="type">{{(bankDetail.abd_crd_dbt_flg == 'C')?"Credit":((bankDetail.abd_crd_dbt_flg == 'D')?"Debit":"Credit & Debit")}}</span>
                                                        <span class="action">
                                                    <a class="editIco" ng-click="onEditBankBtnClicked(bankDetail)"><i class="fa fa-pencil" aria-hidden="true"></i></a>
                                                            <!-- <a class="deleteIco" ng-click="onDeleteBtnClicked($index)"><i class="fa fa-times" aria-hidden="true"></i></a> -->
                                                </span>
                                                    </div>
                                                </div>

                                                <li class="bankhead">UPI</li>
                                                <p ng-if="distributorDetails.upiDetails.length == 1 && !distributorDetails.upiDetails[0].isVerified">No UPI handlers added</p>
                                                <li  ng-repeat="upiDetail in distributorDetails.upiDetails" ng-if="upiDetail.isVerified">
                                                    <div class="bankACdetails">
                                                        <span class="srNo">1</span>
                                                        <span class="bankName">{{upiDetail.aud_upa_handler}}</span>
                                                        <span class="type">{{(upiDetail.aud_upa_crddbt_flg == 'C')?"Credit":((upiDetail.aud_upa_crddbt_flg == 'D')?"Debit":"Credit & Debit")}}</span>
                                                        <span class="action">
                                                    <a class="editIco" ng-click="onEditUPIBtnClicked(upiDetail)"><i class="fa fa-pencil" aria-hidden="true"></i></a>
                                                            <!-- <a class="deleteIco"><i class="fa fa-times" aria-hidden="true"></i></a> -->
                                                </span>
                                                    </div>
                                                </li>
                                            </ul>
                                        </div>

                                        <div class="custBoxfot box-footer">
                                            <button ng-click="onConfirmBtnClicked()" style="width: 150px;" type="button" class="custbtn btn btn-danger">
                                                Confirm</button>
                                            <button ng-click="addAnotherAccountClicked()" type="button" class="btn-default btn"  style="width: 180px; margin: 0px auto;" class="custbtn btn btn-block btn-danger">
                                                Add another Account</button>
                                        </div>

                                    </div>



                                </div>



                            </div>
                            <div class="col-md-4">
                                <div class="box box-default">
                                    <div class="bannerbody box-body">
                                        Placeholder for banners
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                </div>
            </div>
        </div>
    </div>
</div>

