<div class="dashboard-body">
    <div class="row">
        <div class="col-sm-12">
            <div class="content-wrapper" style="margin-left: 0px">
                <div class="container-fluid">
                    <!--<section class="content-header">
                        <h1>
                            Distributor/Retailer Details
                        </h1>
                        <ol class="breadcrumb">
                            <li><a href="#"><i class="fa fa-dashboard"></i> Distributor</a></li>
                            <li class="active">Retailer Details</li>
                        </ol>
                    </section>-->
                    <section class="content">

                        <form name="distributorDetailsForm" ng-submit="submitForm()" novalidate>
                            <div class="col-md-12">
                                <div id="success" class="box" style="display: block;">
                                    <div style="padding-top: 20px; padding-left: 40px; padding-right: 40px;" class="box-body">
                                        <h4 style="padding: 0px 18px; margin-bottom: 30px;">Merchant Details</h4>

                                        <div class="form-group col-md-4" ng-class="{'has-error':!distributorDetailsForm.p_first_name.$valid}">
                                            <label >First Name</label>
                                            <span class="form-star" ng-show="distributorDetailsForm.p_first_name.$invalid">
                              <span ng-show="distributorDetailsForm.p_first_name.$error.required">*</span>
                            </span>
                                            <input type="text" class="form-control" ng-model="distributorDetails.p_first_name" name="p_first_name" ng-minlength="2" ng-maxlength="30" required>
                                        </div>

                                        <div class="form-group col-md-4" ng-class="{'has-error':!distributorDetailsForm.p_last_name.$valid}">
                                            <label >Last Name</label>
                                            <span class="form-star" ng-show="distributorDetailsForm.p_last_name.$invalid">
                              <span ng-show="distributorDetailsForm.p_last_name.$error.required">*</span>
                            </span>
                                            <input type="text" class="form-control" ng-model="distributorDetails.p_last_name" name="p_last_name" ng-minlength="2" ng-maxlength="30" required>
                                        </div>

                                        <div class="form-group col-md-4" ng-class="{'has-error':!distributorDetailsForm.p_entity_level.$valid}">
                                            <label >Entity Level</label>
                                            <span class="form-star" ng-show="distributorDetailsForm.p_entity_level.$invalid">
                              <span ng-show="distributorDetailsForm.p_entity_level.$error.required">*</span>
                            </span>
                                            <input type="text" class="form-control" ng-model="distributorDetails.p_entity_level" name="p_entity_level" ng-pattern="/^(\d+)$/" required>
                                        </div>

                                        <div class="form-group col-md-4" ng-class="{'has-error':!distributorDetailsForm.p_establishment_id.$valid}">
                                            <label >Establishment Id</label>
                                            <span class="form-star" ng-show="distributorDetailsForm.p_establishment_id.$invalid">
                              <span ng-show="distributorDetailsForm.p_establishment_id.$error.required">*</span>
                            </span>
                                            <input type="text" class="form-control" ng-model="distributorDetails.p_establishment_id" name="p_establishment_id" ng-pattern="/^(\d+)$/" required>
                                        </div>

                                        <div class="form-group col-md-4" ng-class="{'has-error':!distributorDetailsForm.p_establishment_name.$valid}">
                                            <label >Establishment Name</label>
                                            <span class="form-star" ng-show="distributorDetailsForm.p_establishment_name.$invalid">
                              <span ng-show="distributorDetailsForm.p_establishment_name.$error.required">*</span>
                            </span>
                                            <input type="text" class="form-control" ng-model="distributorDetails.p_establishment_name" name="p_establishment_name" ng-minlength="8" ng-maxlength="20" required>
                                        </div>
                                        <div class="form-group col-md-4" ng-class="{'has-error':!distributorDetailsForm.p_phone_no_work.$valid}">
                                            <label for="exampleInputEmail1">Mobile Number Work</label>
                                            <span class="form-star" ng-show="distributorDetailsForm.p_phone_no_work.$invalid">
                              <span ng-show="distributorDetailsForm.p_phone_no_work.$error.required">*</span>
                            </span>
                                            <input type="text" class="form-control" ng-model="distributorDetails.p_phone_no_work" name="p_phone_no_work" ng-pattern="/^(\d{10})$/" required>
                                        </div>
                                        <div class="form-group col-md-4" ng-class="{'has-error':!distributorDetailsForm.p_phone_no_home.$valid}">
                                            <label for="exampleInputEmail1">Mobile Number Home</label>
                                            <span class="form-star" ng-show="distributorDetailsForm.p_phone_no_home.$invalid">
                              <span ng-show="distributorDetailsForm.p_phone_no_home.$error.required">*</span>
                            </span>
                                            <input type="text" class="form-control" ng-model="distributorDetails.p_phone_no_home" name="p_phone_no_home" ng-pattern="/^(\d{10})$/" required>
                                        </div>
                                        <div class="form-group col-md-4" ng-class="{'has-error':!distributorDetailsForm.p_email_id.$valid}">
                                            <label for="exampleInputEmail1">Email Address</label>
                                            <span class="form-star" ng-show="distributorDetailsForm.p_email_id.$invalid">
                              <span ng-show="distributorDetailsForm.p_email_id.$error.required">*</span>
                            </span>
                                            <input type="email" class="form-control" name="p_email_id" required ng-model="distributorDetails.p_email_id">
                                        </div>
                                        <div class="form-group col-md-4" ng-class="{'has-error':!distributorDetailsForm.p_alt_email_id.$valid}">
                                            <label for="exampleInputEmail1">Alternate Email Address</label>
                                            <input type="email" class="form-control" name="p_alt_email_id" ng-model="distributorDetails.p_alt_email_id">
                                        </div>
                                    </div>

                                    <div style="margin-bottom: 0px; padding-left: 40px; padding-right: 40px;" class="box-body">
                                        <h4 style="padding: 0px 18px; margin-bottom: 30px;">Shop Address</h4>
                                        <div style="margin:0px;" class="row">
                                            <div class="form-group col-md-4" ng-class="{'has-error':!distributorDetailsForm.p_poi_type.$valid}">
                                                <label for="exampleInputEmail1">Proof of Identity</label>
                                                <span class="form-star" ng-show="distributorDetailsForm.p_poi_type.$invalid">
                                  <span ng-show="distributorDetailsForm.p_poi_type.$error.required">*</span>
                                </span>
                                                <select class="form-control" name="p_poi_type" required ng-model="distributorDetails.p_poi_type">
                                                    <option value="">Select</option>
                                                    <option value="Adhar">Aadhaar</option>
                                                    <option value="Passport">Passport</option>
                                                    <option value="PAN">PAN card</option>
                                                    <option value="Driving License">Driving License</option>
                                                    <option  value="Voter ID">Voter ID</option>
                                                </select>
                                            </div>
                                            <div class="form-group col-md-4" ng-class="{'has-error':!distributorDetailsForm.p_poi_id.$valid}">
                                                <label for="exampleInputEmail1">Value</label>
                                                <input type="text" class="form-control" name="p_poi_id"  ng-model="distributorDetails.p_poi_id" required>
                                            </div>
                                        </div>
                                        <div style="margin:0px;" class="row">
                                            <div class="form-group col-md-4" ng-class="{'has-error':!distributorDetailsForm.p_poa_type.$valid}">
                                                <label for="exampleInputEmail1">Proof of Address</label>
                                                <select class="form-control" ng-model="distributorDetails.p_poa_type" name="p_poa_type" required>
                                                    <option value="">Select</option>
                                                    <option value="Adhar">Aadhaar</option>
                                                    <option value="Passport">Passport</option>
                                                    <option value="PAN">PAN card</option>
                                                    <option value="Driving License">Driving License</option>
                                                    <option  value="Voter ID">Voter ID</option>
                                                </select>
                                            </div>
                                            <div class="form-group col-md-4" ng-class="{'has-error':!distributorDetailsForm.p_poa_id.$valid}">
                                                <label for="exampleInputEmail1">Value</label>
                                                <input type="text" class="form-control" name="p_poa_id" placeholder=""  ng-model="distributorDetails.p_poa_id" required>
                                            </div>
                                        </div>
                                    </div>

                                    <div style="margin-bottom: 0px; padding-left: 40px; padding-right: 40px;" class="box-body">
                                        <h4 style="padding: 0px 18px; margin-bottom: 30px;">Shop Address</h4>

                                        <div class="form-group col-md-4" ng-class="{'has-error':!distributorDetailsForm.p_s_doorno.$valid}">
                                            <label for="exampleInputEmail1">Door No</label>
                                            <span class="form-star" ng-show="distributorDetailsForm.p_s_doorno.$invalid">
                              <span ng-show="distributorDetailsForm.p_s_doorno.$error.required">*</span>
                            </span>
                                            <input type="text" class="form-control" ng-model="distributorDetails.p_s_doorno" name="p_s_doorno" required>
                                        </div>

                                        <div class="form-group col-md-4" ng-class="{'has-error':!distributorDetailsForm.p_s_street.$valid}">
                                            <label for="exampleInputEmail1">Street</label>
                                            <span class="form-star" ng-show="distributorDetailsForm.p_s_street.$invalid">
                                <span ng-show="distributorDetailsForm.p_s_street.$error.required">*</span>
                              </span>
                                            <input type="text" class="form-control" ng-model="distributorDetails.p_s_street" name="p_s_street" required>
                                        </div>

                                        <div class="form-group col-md-4" ng-class="{'has-error':!distributorDetailsForm.p_s_city_village_town.$valid}">
                                            <label for="exampleInputEmail1">Village/Town</label>
                                            <span class="form-star" ng-show="distributorDetailsForm.p_s_city_village_town.$invalid">
                                <span ng-show="distributorDetailsForm.p_s_city_village_town.$error.required">*</span>
                              </span>
                                            <input type="text" class="form-control" ng-model="distributorDetails.p_s_city_village_town" name="p_s_city_village_town" required>
                                        </div>

                                        <div class="form-group col-md-4" ng-class="{'has-error':!distributorDetailsForm.p_s_district.$valid}">
                                            <label for="exampleInputEmail1">District</label>
                                            <span class="form-star" ng-show="distributorDetailsForm.p_s_district.$invalid">
                                <span ng-show="distributorDetailsForm.p_s_district.$error.required">*</span>
                              </span>
                                            <input type="text" class="form-control" ng-model="distributorDetails.p_s_district" name="p_s_district" required>
                                        </div>

                                        <div class="form-group col-md-4" ng-class="{'has-error':!distributorDetailsForm.p_s_state.$valid}">
                                            <label for="exampleInputEmail1">State</label>
                                            <span class="form-star" ng-show="distributorDetailsForm.p_s_state.$invalid">
                                <span ng-show="distributorDetailsForm.p_s_state.$error.required">*</span>
                              </span>
                                            <input type="text" class="form-control" ng-model="distributorDetails.p_s_state" name="p_s_state" required>
                                        </div>

                                        <div class="form-group col-md-4" ng-class="{'has-error':!distributorDetailsForm.p_s_pincode.$valid}">
                                            <label>Pincode</label>
                                            <span class="form-star" ng-show="distributorDetailsForm.p_s_pincode.$invalid">
                              <span ng-show="distributorDetailsForm.p_s_pincode.$error.required">*</span>
                            </span>
                                            <input type="text" name="p_s_pincode" class="form-control" placeholder="" ng-model="distributorDetails.p_s_pincode" required>
                                        </div>

                                        <div class="form-group col-md-4" ng-class="{'has-error':!distributorDetailsForm.p_s_country.$valid}">
                                            <label for="exampleInputEmail1">Country</label>
                                            <span class="form-star" ng-show="distributorDetailsForm.p_s_country.$invalid">
                                <span ng-show="distributorDetailsForm.p_s_country.$error.required">*</span>
                              </span>
                                            <input type="text" class="form-control" ng-model="distributorDetails.p_s_country" name="p_s_country" required>
                                        </div>

                                        <div class="form-group col-md-4">
                                            <label for="exampleInputEmail1">Landmark</label>
                                            <input type="text" class="form-control" placeholder="" ng-model="distributorDetails.p_s_landmark">
                                        </div>
                                    </div>

                                    <div style="margin-bottom: 0px; padding-left: 40px; padding-right: 40px;" class="box-body">
                                        <h4 style="padding: 0px 18px; margin-bottom: 30px;">Mailing Address</h4>
                                        <div class="form-group col-md-4" ng-class="{'has-error':!distributorDetailsForm.p_m_doorno.$valid}">
                                            <label for="exampleInputEmail1">Door No</label>
                                            <span class="form-star" ng-show="distributorDetailsForm.p_m_doorno.$invalid">
                                <span ng-show="distributorDetailsForm.p_m_doorno.$error.required">*</span>
                              </span>
                                            <input type="text" class="form-control" ng-model="distributorDetails.p_m_doorno" name="p_m_doorno" required>
                                        </div>
                                        <div class="form-group col-md-4" ng-class="{'has-error':!distributorDetailsForm.p_m_street.$valid}">
                                            <label for="exampleInputEmail1">Street</label>
                                            <span class="form-star" ng-show="distributorDetailsForm.p_m_street.$invalid">
                                <span ng-show="distributorDetailsForm.p_m_street.$error.required">*</span>
                              </span>
                                            <input type="text" class="form-control" ng-model="distributorDetails.p_m_street" name="p_m_street" required>
                                        </div>
                                        <div class="form-group col-md-4" ng-class="{'has-error':!distributorDetailsForm.p_m_city_village_town.$valid}">
                                            <label for="exampleInputEmail1">Village/Town</label>
                                            <span class="form-star" ng-show="distributorDetailsForm.p_m_city_village_town.$invalid">
                                <span ng-show="distributorDetailsForm.p_m_city_village_town.$error.required">*</span>
                              </span>
                                            <input type="text" class="form-control" ng-model="distributorDetails.p_m_city_village_town" name="p_m_city_village_town" required>
                                        </div>
                                        <div class="form-group col-md-4" ng-class="{'has-error':!distributorDetailsForm.p_m_district.$valid}">
                                            <label for="exampleInputEmail1">District</label>
                                            <span class="form-star" ng-show="distributorDetailsForm.p_m_district.$invalid">
                                <span ng-show="distributorDetailsForm.p_m_district.$error.required">*</span>
                              </span>
                                            <input type="text" class="form-control" ng-model="distributorDetails.p_m_district" name="p_m_district" required>
                                        </div>
                                        <div class="form-group col-md-4" ng-class="{'has-error':!distributorDetailsForm.p_m_state.$valid}">
                                            <label for="exampleInputEmail1">State</label>
                                            <span class="form-star" ng-show="distributorDetailsForm.p_m_state.$invalid">
                                <span ng-show="distributorDetailsForm.p_m_state.$error.required">*</span>
                              </span>
                                            <input type="text" class="form-control" ng-model="distributorDetails.p_m_state" name="p_m_state" required>
                                        </div>
                                        <div class="form-group col-md-4" ng-class="{'has-error':!distributorDetailsForm.p_m_pincode.$valid}">
                                            <label>Pincode</label>
                                            <span class="form-star" ng-show="distributorDetailsForm.p_m_pincode.$invalid">
                              <span ng-show="distributorDetailsForm.p_m_pincode.$error.required">*</span>
                            </span>
                                            <input type="text" name="p_m_pincode" class="form-control" placeholder="" ng-model="distributorDetails.p_m_pincode" required>
                                        </div>
                                        <div class="form-group col-md-4" ng-class="{'has-error':!distributorDetailsForm.p_m_country.$valid}">
                                            <label for="exampleInputEmail1">Country</label>
                                            <span class="form-star" ng-show="distributorDetailsForm.p_m_country.$invalid">
                                <span ng-show="distributorDetailsForm.p_m_country.$error.required">*</span>
                              </span>
                                            <input type="text" class="form-control" ng-model="distributorDetails.p_m_country" name="p_m_country" required>
                                        </div>
                                        <div class="form-group col-md-4">
                                            <label for="exampleInputEmail1">Landmark</label>
                                            <input type="text" class="form-control" id="Email19" placeholder="" ng-model="distributorDetails.p_m_landmark">
                                        </div>

                                    </div>





                                    <div class="panel-body">

                                        <div data-ng-show="distributorDetailsForm.p_first_name.$error.required && distributorDetailsForm.p_first_name.$dirty " class="alert alert-danger alert-dismissible" role="alert">
                                            <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                                            <strong>First name is required</strong>
                                        </div>
                                        <div data-ng-show="distributorDetailsForm.p_first_name.$error.minlength || distributorDetailsForm.p_first_name.$error.maxlength" class="alert alert-danger alert-dismissible" role="alert">
                                            <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                                            <strong>First Name must be between 2 to 30 characters</strong>
                                        </div>

                                        <div data-ng-show="distributorDetailsForm.p_last_name.$error.required && distributorDetailsForm.p_last_name.$dirty " class="alert alert-danger alert-dismissible" role="alert">
                                            <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                                            <strong>Last Name required</strong>
                                        </div>
                                        <div data-ng-show="distributorDetailsForm.p_last_name.$error.minlength || distributorDetailsForm.p_last_name.$error.maxlength" class="alert alert-danger alert-dismissible" role="alert">
                                            <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                                            <strong>Last Name must be between 2 to 30 characters</strong>
                                        </div>

                                        <div data-ng-show="distributorDetailsForm.p_entity_level.$error.required && distributorDetailsForm.p_entity_level.$dirty " class="alert alert-danger alert-dismissible" role="alert">
                                            <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                                            <strong>Entity Level is required</strong>
                                        </div>

                                        <div data-ng-show="distributorDetailsForm.p_entity_level.$error.pattern" class="alert alert-danger alert-dismissible" role="alert">
                                            <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                                            <strong>Entity Level should be a number</strong>
                                        </div>

                                        <div data-ng-show="distributorDetailsForm.p_establishment_id.$error.required && distributorDetailsForm.p_establishment_id.$dirty " class="alert alert-danger alert-dismissible" role="alert">
                                            <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                                            <strong>Establishment Id is required</strong>
                                        </div>

                                        <div data-ng-show="distributorDetailsForm.p_establishment_id.$error.pattern" class="alert alert-danger alert-dismissible" role="alert">
                                            <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                                            <strong>Establishment Id should be a number</strong>
                                        </div>

                                        <div data-ng-show="distributorDetailsForm.p_establishment_name.$error.required && distributorDetailsForm.p_establishment_name.$dirty " class="alert alert-danger alert-dismissible" role="alert">
                                            <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                                            <strong>Establishment Name required</strong>
                                        </div>
                                        <div data-ng-show="distributorDetailsForm.p_establishment_name.$error.minlength || distributorDetailsForm.p_establishment_name.$error.maxlength" class="alert alert-danger alert-dismissible" role="alert">
                                            <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                                            <strong>Establishment Name must be between 8 to 20 characters</strong>
                                        </div>

                                        <div data-ng-show="distributorDetailsForm.p_phone_no_work.$error.required && distributorDetailsForm.p_phone_no_work.$dirty " class="alert alert-danger alert-dismissible" role="alert">
                                            <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                                            <strong>Work mobile number is required</strong>
                                        </div>
                                        <div data-ng-show="distributorDetailsForm.p_phone_no_work.$error.pattern" class="alert alert-danger alert-dismissible" role="alert">
                                            <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                                            <strong>Work mobile number must be of exactly 10 digits</strong>
                                        </div>

                                        <div data-ng-show="distributorDetailsForm.p_phone_no_home.$error.required && distributorDetailsForm.p_phone_no_home.$dirty " class="alert alert-danger alert-dismissible" role="alert">
                                            <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                                            <strong>Home mobile number is required</strong>
                                        </div>
                                        <div data-ng-show="distributorDetailsForm.p_phone_no_home.$error.pattern" class="alert alert-danger alert-dismissible" role="alert">
                                            <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                                            <strong>Home mobile number must be of exactly 10 digits</strong>
                                        </div>

                                        <div data-ng-show="distributorDetailsForm.p_email_id.$error.required && distributorDetailsForm.p_email_id.$dirty" class="alert alert-danger alert-dismissible" role="alert">
                                            <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                                            <strong>Email address is required</strong>
                                        </div>
                                        <div data-ng-show="distributorDetailsForm.p_email_id.$error.email" class="alert alert-danger alert-dismissible" role="alert">
                                            <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                                            <strong>Email address is invalid</strong>
                                        </div>

                                        <div data-ng-show="distributorDetailsForm.p_alt_email_id.$error.email" class="alert alert-danger alert-dismissible" role="alert">
                                            <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                                            <strong>Alternate email address is invalid</strong>
                                        </div>

                                        <div data-ng-show="distributorDetailsForm.p_pfi_id.$error.required" class="alert alert-danger alert-dismissible" role="alert">
                                            <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                                            <strong>Please select valid Proof of Identity</strong>
                                        </div>

                                        <div data-ng-show="distributorDetailsForm.p_poi_id.$error.required" class="alert alert-danger alert-dismissible" role="alert">
                                            <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                                            <strong>Proof of Identity Id is requried</strong>
                                        </div>

                                        <div data-ng-show="distributorDetailsForm.p_poa_type.$error.required" class="alert alert-danger alert-dismissible" role="alert">
                                            <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                                            <strong>Please select valid Proof of Address</strong>
                                        </div>

                                        <div data-ng-show="distributorDetailsForm.p_poa_id.$error.required" class="alert alert-danger alert-dismissible" role="alert">
                                            <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                                            <strong>Proof of Address Id is requried</strong>
                                        </div>

                                        <div data-ng-show="distributorDetailsForm.p_s_doorno.$error.required" class="alert alert-danger alert-dismissible" role="alert">
                                            <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                                            <strong>Shop door number is requried</strong>
                                        </div>

                                        <div data-ng-show="distributorDetailsForm.p_s_street.$error.required" class="alert alert-danger alert-dismissible" role="alert">
                                            <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                                            <strong>Shop street is requried</strong>
                                        </div>

                                        <div data-ng-show="distributorDetailsForm.p_s_city_village_town.$error.required" class="alert alert-danger alert-dismissible" role="alert">
                                            <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                                            <strong>Shop village/town is requried</strong>
                                        </div>

                                        <div data-ng-show="distributorDetailsForm.p_s_district.$error.required" class="alert alert-danger alert-dismissible" role="alert">
                                            <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                                            <strong>Shop District is requried</strong>
                                        </div>

                                        <div data-ng-show="distributorDetailsForm.p_s_state.$error.required" class="alert alert-danger alert-dismissible" role="alert">
                                            <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                                            <strong>Shop state is requried</strong>
                                        </div>

                                        <div data-ng-show="distributorDetailsForm.p_s_pincode.$error.required" class="alert alert-danger alert-dismissible" role="alert">
                                            <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                                            <strong>Shop pincode is requried</strong>
                                        </div>

                                        <div data-ng-show="distributorDetailsForm.p_s_country.$error.required" class="alert alert-danger alert-dismissible" role="alert">
                                            <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                                            <strong>Shop country is requried</strong>
                                        </div>

                                        <div data-ng-show="distributorDetailsForm.p_m_doorno.$error.required" class="alert alert-danger alert-dismissible" role="alert">
                                            <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                                            <strong>Mailing address door number is requried</strong>
                                        </div>

                                        <div data-ng-show="distributorDetailsForm.p_m_street.$error.required" class="alert alert-danger alert-dismissible" role="alert">
                                            <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                                            <strong>Mailing address street is requried</strong>
                                        </div>

                                        <div data-ng-show="distributorDetailsForm.p_m_city_village_town.$error.required" class="alert alert-danger alert-dismissible" role="alert">
                                            <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                                            <strong>Mailing address village/town is requried</strong>
                                        </div>

                                        <div data-ng-show="distributorDetailsForm.p_m_district.$error.required" class="alert alert-danger alert-dismissible" role="alert">
                                            <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                                            <strong>Mailing address District is requried</strong>
                                        </div>

                                        <div data-ng-show="distributorDetailsForm.p_m_state.$error.required" class="alert alert-danger alert-dismissible" role="alert">
                                            <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                                            <strong>Mailing address state is requried</strong>
                                        </div>

                                        <div data-ng-show="distributorDetailsForm.p_m_pincode.$error.required" class="alert alert-danger alert-dismissible" role="alert">
                                            <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                                            <strong>Mailing address state is requried</strong>
                                        </div>

                                        <div data-ng-show="distributorDetailsForm.p_m_country.$error.required" class="alert alert-danger alert-dismissible" role="alert">
                                            <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                                            <strong>Mailing address country is requried</strong>
                                        </div>
                                    </div>

                                    <div class="box-footer" style="text-align: center; border:none !important;">
                                        <button ng-disabled="!distributorDetailsForm.$valid" ng-click="onProceedBtnClicked()" style="width: 250px; margin: 0px auto; border-radius: 15px;" type="button" class="custbtn btn btn-block btn-danger">
                                            Proceed</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </section>
                </div>
            </div>
        </div>
    </div>
</div>
