<!-- <div class="container"> -->
<div>
    <div style="margin-left:40px; margin-right:40px;">

        <div class="row" >
            <div class="col-md-12">
                <h5 class="select-pay-options-head">
                    <img src="../../../../ui/dist1/img/payment/internet-banking-h.png">
                    Saved Internet Banking Details
                </h5>
            </div>
        </div>
        
        <div class="row">
        
            <div class="col-md-3 text-center" ng-repeat="bankEntry in netBankingArray">
                <!-- <div class="bank-card"  ng-class="{'NB':'selected-color-box', 'UPI_PUSH':'deselected-color-box', 'UPI_PULL':'deselected-color-box'}[paymentMode.name]" ng-click="paymentMode.name = 'NB'"> -->
                <div class="bank-card" ng-click="paymentMode.name = 'NB'">
                    <h3 class="bank-card-name" ng-if="bankEntry.bankName != 'STANDARD CHARTERED BANK'">{{bankEntry.bankName}}</h3>
                    <img src="/ui/dist1/img/payment/scb.png" ng-if="bankEntry.bankName == 'STANDARD CHARTERED BANK'">
                    <input type="radio" name="bankselection" class="bank-card-radio-btn" ng-model="paymentMode.name" value="NB">
                    <hr class="bank-card-seprator">
                    <h6 class="bank-card-ac-num">{{bankEntry.accountNo}}</h6>
                </div>
            </div>

        </div>
        <div class="row">
            <div class="col-md-12">
                <h5 class="select-pay-options-head">
                    <img src="../../../../ui/dist1/img/payment/upi.png">
                    Saved VPA Details
                </h5>
            </div>
        </div>

        <div class="row" ng-repeat="upiEntry in upiDetailArray">
            <div class="col-md-12">
                <div class="select-pay-vpa">
                    <input type="radio" name="bankselection" ng-model="paymentMode.name" ng-value="upiFlagName" ng-click="onBankChanged()">
                    {{upiEntry.handlerName}}
                </div>
                
            </div>
        </div>

        <div style="text-align: center; border:none !important; margin-top:40px; margin-bottom:7px;">
            <button ng-click="onPayBtnClicked()" style="width: 150px; margin: 0px auto; border-radius: 15px;" type="button" class="custbtn btn btn-block btn-danger">
                Pay now</button>
        </div>
    </div>
   
    <div class="card-btn-background"></div>

</div>