<div style="margin: 10px 40px 0px;" class="box-body">
    <div class="row">
        <div class="col-md-12">
            <h5 class="select-pay-options-head">
                <img src="../../../../ui/dist1/img/payment/upi.png">
                    Enter VPA and pay
            </h5>
        </div>
        <div class="form-group col-md-12">
           <input type="text" class="form-control" ng-model="vpaTransfer.vpa"  placeholder="Enter VPA here">
        </div>
        <div class="col-md-12">
            <div class="form-group">
                <label>
                    <input type="checkbox"  ng-model="internetBank.quickPay_checkbox">
                        Save the VPA details for quick pay
                </label>
            </div>    
        </div>
    </div>