<div class="dashboard-body">
    <!--<div class="row">
        <div class="col-sm-3">&nbsp;</div>
        <div class="col-sm-9">
            <div class="row">
                <div class="col-sm-4">
                    <p class="maker-names">Sponsor Bank Code :{{pc.sponoserCode.length>0 ? pc.sponoserCode: 'N/A'}}</p>
                </div>
                <div class="col-sm-4">
                    <p class="maker-names">Utility Code :{{pc.utilityCode.length >0 ? pc.utilityCode : 'N/A'}}</p>
                </div>
                <div class="col-sm-4">
                    <p class="maker-names">Date :{{pc.sysDate.length >0 ? pc.sysDate :'N/A'}}</p>
                </div>
            </div>
        </div>
    </div>-->
    <div class="row">
        <div class="col-sm-12">
            <div class="row" style="margin-top: 9px;">
                <div class="col-sm-12">
                    <div style="text-align: -webkit-center;" >
                        <div ui-grid="pc.gridOptions" ui-grid-edit  external-scopes="myViewModel" class="grid" style="width: 100%;!important;height: 310px;!important;"></div>
                    </div>
                </div>
            </div>
              <div class="row">
                  <div class="col-sm-6">
                      &nbsp;
                  </div>
                  <div class="col-sm-6">
                      <div class="row" style="margin-top: 5px;margin-bottom: 5px">
                          <div class="col-sm-6">
                              &nbsp;
                          </div>
                          <div class="col-sm-3">
                            <!--  <button type="button" class="btn secoundry-button">Pending</button>-->
                          </div>
                          <div class="col-sm-3">
                              <button type="button" ng-if="pc.gridOptions.data.length >0" ng-click="pc.updateChecker(pc.gridOptions)"  class="btn primary-button">Send</button>
                          </div>
                      </div>
                  </div>
              </div>
        </div>
    </div>
</div>