<div class="dashboard-body">
    <div class="row">
        <div class="col-sm-12">
            <div class="row">
                <div class="col-sm-12">
                    <div class="row" style="background-color: white;
    margin-left: 0px;
    margin-right: 0px;">
                        <div class="col-sm-2">
                            <md-datepicker ng-model="ppi.fromDate" ng-change="ppi.changeDate(ppi.fromDate,ppi.toDate)" md-placeholder="From Date"
                                           md-max-date="ppi.maxDate" md-open-on-focus></md-datepicker>
                        </div>
                        <div class="col-sm-2">
                            <md-datepicker ng-model="ppi.toDate" ng-change="ppi.changeDate(ppi.fromDate,ppi.toDate)" md-placeholder="To Date"  md-min-date="ppi.minDate"
                                           md-max-date="ppi.maxDate" md-open-on-focus></md-datepicker>
                        </div>
                    </div>
                    <div class="panel-body" style="background-color: white">
                        <table id="example" datatable="ng" dt-options="dtOptions" class="table table-bordered bordered table-striped table-condensed datatable" style="height:400px;display: inline-block;width: 100%;overflow: auto;">
                            <thead class="tabel-header">
                            <tr>
                                <th><span class="table-header-font">Invoice Number</span></th>
                                <th><span class="table-header-font">payer Id</span></th>
                                <th><span class="table-header-font">Payer Name</span></th>
                                <th><span class="table-header-font">Payer EstablishName</span></th>
                                <th><span class="table-header-font">Payer Mobile</span></th>
                                <th><span class="table-header-font">payee Id</span></th>
                                <th><span class="table-header-font">Payee Name</span></th>
                                <th><span class="table-header-font">Payee EstablishName</span></th>
                                <th><span class="table-header-font">payee Moile No</span></th>
                                <th><span class="table-header-font">Amount</span></th>
                                <th><span class="table-header-font">Due date</span></th>
                                <th><span class="table-header-font">Remarks</span></th>
                                <th><span class="table-header-font">Select flag</span></th>
                                <th><span class="table-header-font">View/Download</span></th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr ng-repeat="a in ppi.transacTions">
                                <td><span class="table-body-font" style="margin-left: 10px;">{{a.invoiceNumber.length> 0 ?a.invoiceNumber:"-"}}</span></td>
                                <td><span class="table-body-font" style="margin-left: 10px;">{{a.fromEstId.length >0?a.fromEstId:"-"}}</span></td>
                                <td><span class="table-body-font">{{a.fromCustName.length>0 ?a.fromCustName:"-"}}</span></td>
                                <td><span class="table-body-font">{{a.fromEstName.length>0 ? a.fromEstName:"-"}}</span></td>
                                <td><span class="table-body-font">{{a.fromCustMob.length>0 ? a.fromCustMob:"-"}}</span></td>
                                <td><span class="table-body-font" style="margin-left: 10px;">{{a.toEstId.length>0 ?a.toEstId:"-"}}</span></td>
                                <td><span class="table-body-font">{{a.toCustName.length>0? a.toCustName:"-"}}</span></td>
                                <td><span class="table-body-font">{{a.toEstName.length>0 ? a.toEstName:"-"}}</span></td>
                                <td><span class="table-body-font">{{a.toEstMob.length>0 ?a.toEstMob:"-"}}</span></td>
                                <td><span class="table-body-font" style="margin-left: 10px;"><i class="fa fa-rupee"></i>{{a.amount.length>0 ?a.amount:"-"}}</span></td>
                                <td><span class="table-body-date">{{a.dueDate.length>0 ?a.dueDate:"-"}}</span></td>
                                <td style="text-align: center;" ng-mouseover="ppi.hoverIn($index)" ng-mouseleave="ppi.hoverOut($index)">
                                    <span class="table-body-font" ng-if="ppi.editIndex == null ||ppi.editIndex !=$index ||ppi.hoverEdit==false || ppi.hoverEdit==undefined">
                                        {{a.remarks.length>0?a.remarks:"-"}}<i class="glyphicon glyphicon-pencil" style="font-size: 8px;float:right"></i>
                                    </span>
                                    <textarea  ng-if="ppi.editIndex ==$index" ng-model="a.remarks" ng-show="ppi.hoverEdit==true" style="width: 80%;min-height: 50px;">
                                    </textarea>
                                </td>
                                <td style="text-align: center;">
                                    <md-checkbox aria-label="Follow" class="md-secondary" ng-init="a.flag =='Y'" ng-model="a.flag"
                                                 ng-true-value="'Y'" ng-false-value="'N'"></md-checkbox>
                                </td>
                                <td style="text-align: center;">
                                    <span class="table-body-date">
                                        <label ng-if="a.imageData.length ==undefined">-</label>
                                    <a ng-if="a.imageData.length !=0 && a.imageData.length !=undefined" class="glyphicon glyphicon-download-alt"  href="" ng-click="ppi.viewDownloads(a.imageData)"></a>
                                </span>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                        <div class="row">
                            <div class="col-sm-6">
                                &nbsp;
                            </div>
                            <div class="col-sm-6">
                                <div class="row" style="margin-top: 5px;margin-bottom: 5px">
                                    <div class="col-sm-6">
                                        &nbsp;
                                    </div>
                                    <div class="col-sm-3" style="padding-left: 80px">
                                        <button type="button" ng-if="ppi.transacTions.length >0 && ppi.transacTions.length !=undefined" ng-click="ppi.RejectCheckerInvoice(ppi.transacTions)" class="btn reject-button">Reject</button>
                                    </div>
                                    <div class="col-sm-3" style="padding-left: 40px">
                                        <button type="button" ng-if="ppi.transacTions.length >0 && ppi.transacTions.length !=undefined" ng-click="ppi.updateCheckerInvoice(ppi.transacTions)"  class="btn primary-button">Send</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


        </div>
    </div>
</div>