<div class="row no-margin">
    <div class="col-sm-8 bg-abpb-maroon left30">
        <div  ng-if="invoiceDetails.length != undefined">
            <input class="select-all-txtbox" type="checkbox" ng-model="selectedAll" ng-change="selectAll()">
            <label class="select-all-lbl">Select All</label>
        </div>

    </div>
    <div class="col-sm-2 bg-abpb-maroon left30">PAID &nbsp;&nbsp;<span class="badge badge-success">{{numberOfPaidInvoices}}</span></div>
    <div class="col-sm-2 bg-abpb-maroon left30">PENDING &nbsp;&nbsp;<span class="badge badge-warning">{{numberOfUnPaidInvoices}}</span></div>
</div>
<ul class="list-group">
    <li class="list-group-item"  ng-repeat="invoice in invoiceDetails" ng-click="onselectBtnClicked(invoice)">
        <input type="checkbox" ng-disabled="invoice.isPaid" class="invoice-align-middle" ng-change="onselectBtnClicked(invoice)"
            ng-model="invoice.isSelected">
        <div class="invoice-item">
            <span class="invoice-item-clientname">{{invoice.payeeName}}</span>
            <br>
            <span class="transactions-caption">Transaction Id:&nbsp;&nbsp;</span><span class="transactions-value">{{invoice.invoiceId}}</span>
            <br>
            <span class="transactions-caption">Date:&nbsp;&nbsp;</span><span class="transactions-value">{{invoice.invoiceDueDate}}</span>
            <br>
            <span ng-if="invoice.isPaid" class="is-paid">Paid</span>
            <span ng-if="!invoice.isPaid && !invoice.isOverDue" class="is-due">Due: {{invoice.diffDays}} day(s)</span>
            <span ng-if="!invoice.isPaid && invoice.isOverDue" class="is-over-due">Over due: {{invoice.diffDays}} day(s)</span>
        </div>
        <span class="badge custom-badge">&#8377;{{invoice.invoiceAmt | number:2}}</span>
    </li>
    <li class="list-group-item" ng-if="invoiceDetails.length == undefined">
        <div class="invoice-item">
            <span class="transactions-caption">No Invoice to pay</span>
        </div>
    </li>
</ul>


<div class="row ">
    <div class="col-md-12 left30">
        <button   ng-if="invoiceDetails.length >0" ng-click="onPayBtnClicked()" style="width: 200px; margin: 0px auto 15px auto; border-radius:15px;" type="button" class="custbtn btn btn-block btn-danger">
                            Pay</button>
    </div>

    
</div>