<div class="dashboard-body">
    <div class="row" style="width: 100%;margin-left: 0px;">
        <div class="col-md-12 text-center select-payment-text">
            <p>Select your payment method and click "Pay Now"</p>
        </div>
    </div>
    <div class="row" style="width:100%;">
        <div class="col-md-9 large-screen-margin card-block" style="padding-top: 0px">
            <div class="nav nav-tabs tab-header material-tab" style="display: block; padding:0;background-color: white">
                <ul class="nav nav-tabs nav-center" style="margin-top:20px;">
                    <li ui-sref-active="active">
                        <a ui-sref="paymentselection.quickpay">
                            <img src="../../../../ui/dist1/img/tab-icons/blank-img.png" id="quickpay-img"/>
                            <span>Quick Pay</span>
                        </a>
                    </li>
                    <li ui-sref-active="active">
                        <a ui-sref="paymentselection.internetbanking" ng-click="onInternetBankChoosed($event)">
                            <img src="../../../../ui/dist1/img/tab-icons/blank-img.png" id="internetbanking-img"/>
                            <span>Internet Banking</span>
                        </a>
                    </li>
                    <li ui-sref-active="active" ng-click="onCardsChoosed($event)">
                        <a ui-sref="paymentselection.cards">
                            <img src="../../../../ui/dist1/img/tab-icons/blank-img.png" id="cards-img"/>
                            <span>Cards</span>
                        </a>
                    </li>
                    <li ui-sref-active="active" ng-click="onInternetBankChoosed($event)">
                        <a ui-sref="paymentselection.vpatransfer">
                            <img src="../../../../ui/dist1/img/tab-icons/blank-img.png" id="vpatransfer-img"/>
                            <span>VPA Transfer</span>
                        </a>
                    </li>
                </ul>
                <div>
                    <div ui-view="template"></div>
                </div>
            </div>
        </div>
        <div class="col-md-3 tab-header" style="padding: 15px;background-color: white">
            <div class="card-block ">
                <div class="col-md-12" style="color: #E36627;">
                    <label>Amount</label>
                </div>
                <div class="col-md-12" style="font-size: 20px;">
                    <img src="../../../../ui/dist1/img/rupee-symbol.png"/>
                    <label>{{amountToBePayorCollect | number:2}}</label>
                </div>
                <div class="col-md-12" style="margin: 5px; color: #E36627; margin: 10px 0px 4px 0px;">
                    <label>Customer Details</label>
                </div>
                <div class="col-md-12">
                    <label>Email ID</label>
                </div>
                <div class="col-md-12">
                    <p>{{customerEmailId}}</p>
                </div>
                <div class="col-md-12">
                    <label>Mobile Number</label>
                </div>
                <div class="col-md-12">
                    <p>{{customerPhoneNumber}}</p>
                </div>
            </div>
        </div>
    </div>
</div>





