<div class="wrapper">
    <div class="background-object"></div>

    <header class="main-header">
        <nav class="navbar navbar-static-top">
            <div class="container">
                <div class="navbar-header">
                    <a ui-sref="topnavview.pay" class="custLogo navbar-brand"><img src="../ui/dist1/img/vector-smart-object.png" class="" alt="User Image"></a>
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse">
                          <i class="fa fa-bars"></i>
                        </button>
                </div>
            </div>
        </nav>
    </header>

    <div style="padding:20px;">
        <br>
        <br>
        <form name="customerIdForm" ng-submit="submitForm()" novalidate>
            <div style="padding-top: 20px; padding-left: 40px; padding-right: 40px;" class="box-body">
                <h4 style="padding: 0px 18px; margin-bottom: 30px;">Invoice payment</h4>

                <div class="row">
                    <div class="form-group col-md-4" ng-class="{'has-error':(!customerIdForm.retailer_id.$valid && customerIdForm.retailer_id.$dirty)}">
                        <label>Retailer Id</label>
                        <span class="form-star" ng-show="customerIdForm.retailer_id.$invalid">
                        <span ng-show="customerIdForm.retailer_id.$error.required">*</span>
                        </span>
                        <input type="number" class="form-control" ng-model="retailer_id" name="retailer_id" ng-pattern="/^(\d+)$/"
                            required>
                        <span class="form-star" ng-show="customerIdForm.retailer_id.$invalid && customerIdForm.retailer_id.$dirty" style="line-height:40px;">
                            <span ng-show="customerIdForm.retailer_id.$error.required">A valid retailer id is required</span>
                        </span>
                    </div>
                </div>

                <div class="row">
                    <div class="form-group col-md-4" ng-class="{'has-error':(!customerIdForm.distributor_id.$valid && customerIdForm.distributor_id.$dirty) }">
                        <label>Distributor Id</label>
                        <span class="form-star" ng-show="customerIdForm.distributor_id.$invalid">
                        <span ng-show="customerIdForm.distributor_id.$error.required">*</span>
                        </span>
                        <input type="number" class="form-control" ng-model="distributor_id" name="distributor_id" ng-pattern="/^(\d+)$/"
                            required>
                        <span class="form-star" ng-show="customerIdForm.distributor_id.$invalid && customerIdForm.distributor_id.$dirty" style="line-height:40px;">
                            <span ng-show="customerIdForm.distributor_id.$error.required">A valid distributor id is required</span>
                        </span>
                    </div>
                </div>

            </div>

            <!-- <div data-ng-show="customerIdForm.retailer_id.$error.required && customerIdForm.retailer_id.$dirty "
                class="alert alert-danger alert-dismissible" role="alert">
                <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <strong>Customer Id is required</strong>
            </div>
            <div data-ng-show="customerIdForm.retailer_id.$error.pattern" class="alert alert-danger alert-dismissible" role="alert">
                <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <strong>Customer Id must be a number</strong>
            </div> -->

            <div style="text-align: center; border:none !important;">
                <button ng-disabled="!customerIdForm.$valid" ng-click="onProceedBtnClicked(retailer_id)" style="width: 250px; margin: 0px auto; border-radius: 15px;" type="button" class="custbtn btn btn-block btn-danger">
                    Proceed</button>
            </div>

        </form>

    </div>

    <footer class="main-footer">
        <div class="container"><strong>Copyright &copy; 2014-2016.</strong> All rights reserved.</div>
    </footer>
</div>