<div style="margin: 10px 40px 20px;" class="box-body">
    <div class="row">
        <div class="bankACdetails"  ng-repeat="upiDetail in upiDetailsArray" ng-if="upiDetail !== activeUpiDetail">
            <div class="col-xs-1" style="padding-left: 0px;">
                <span class="srNo">{{$index+1}}</span>
            </div>
            <div class="col-xs-5">
                <span class="bankName">{{upiDetail.aud_upa_handler}}</span>
            </div>
            <div class="col-xs-3">
                <span class="type">{{(upiDetail.aud_upa_crddbt_flg == 'C')?"Credit":((upiDetail.aud_upa_crddbt_flg == 'D')?"Debit":"Credit & Debit")}}</span>
            </div>
            <div class="col-xs-3" style="text-align: right;">
                <a class="editIco" ng-click="onEditBtnClicked(upiDetail)"><i class="fa fa-pencil" aria-hidden="true"></i></a>
                <a class="deleteIco" ng-click="onDeleteBtnClicked(upiDetail)"><i class="fa fa-times" aria-hidden="true"></i></a>
            </div>
        </div>
        <div style="height: 30px; font-weight:600;">
            <div class="col-xs-6">
            </div>
            <div class="col-xs-5">
                <p>Transaction A/c</p>
            </div>
            <div class="col-xs-1">
               <p>Default</p>
            </div>
        </div>
        <div ng-repeat="upiDetail in upiDetailsArray" ng-if="upiDetail === activeUpiDetail">
            <div class="col-xs-1" style="padding-left: 0px;">
                <b class="gridnostyle">{{$index+1}}</b>
            </div>
            <div class="col-xs-4">
                <input type="text" ng-disabled="upiDetail.isVerified" class="custcontrol form-control" id="Email7" placeholder="UPI Handle" ng-model="upiDetail.aud_upa_handler">
            </div>
            <div class="col-xs-3" style="margin-top: 13px;">
                <span ng-show="!upiDetail.isVerified">@birla</span> 
                <button ng-class="{verify:upiDetail.isVerified}" class="beforVerify btn-danger" ng-click="onVerifyClick(upiDetail)" ng-disabled="upiDetail.isVerified">Verify</button>
                <button ng-show="upiDetail.isVerified" class="beforVerify btn-danger" ng-click="onUPIEditBtnPressed(upiDetail)">Edit</button>
            </div>
            <div class="col-xs-3">
                <select class="custcontrol form-control" ng-model="upiDetail.aud_upa_crddbt_flg">
                    <option value="C">Credit</option>
                    <option value="D">Debit</option>
                    <option value="B">Credit & Debit</option>
                </select>
            </div>
            <div class="col-xs-1" style="margin-top: 13px; text-align: right;">
                <input type="checkbox" class="flat-red" ng-model="upiDetail.aud_upa_dft_flg"
                ng-true-value="'Y'" ng-false-value="'N'" ng-change="onDefaultFlagChange(upiDetail)">
            </div>
        </div>        
    </div>    
</div>
<div class="custBoxfot box-footer">
        <button type="button" class="custbtn btn-danger btn" ng-click="onSaveBtnPressed()">
            Save & Continue</button>
        <button type="button" class="btn-default btn" ng-click="addAnotherHandler()">
            Add another UPI</button>
    </div>

    <div class="row" style="margin:20px;">

        <a href="https://play.google.com/store/apps/details?id=ecs.com.ideacaf&hl=en"><img src="../ui/dist1/img/qrCode.png"></a>
        <div style="display: inline-block;font-size: 16px;font-weight: 700;color: gray;vertical-align: middle;">
            Don't have UPI handle? Like to generate one? 
            <br>
            Please download our app to generate UPI handler. <a href="https://play.google.com/store/apps/details?id=ecs.com.ideacaf&hl=en">Aditya Birla UPI Handler</a>
            <br>
            Or scan the QR code from your Android mobile.
        </div>
        
        
    </div>
