<div>
    <div style="margin-left:40px; margin-right:40px;">

        <div class="row">
            <div class="col-md-12">
                <h5 class="select-pay-options-head">
                        <img src="../ui/dist1/img/payment/card-h.png">
                        Select your card type
                </h5>
            </div>
        </div>

        <div class="row">
            
            
            <div class="col-md-12 text-center" style="color: black; ">

                <div class="card-type-box" ng-class="{'DC':'selected-color-box', 'CC':'deselected-color-box'}[cards.paymentType]" ng-click="cards.paymentType = 'DC'">
                    <p class="card-type-text"> 
                            <img src='../ui/dist1/img/tab-icons/cards.png' ng-show="cards.paymentType!='DC'" />
                            <img src='../ui/dist1/img/tab-icons/cards-1.png' ng-show="cards.paymentType=='DC'" />
                        Debit Card
                    </p>
                    <input type="radio" ng-model="cards.paymentType" value="DC" class="card-type-radio-btn">
                </div>

                <div class="card-type-box" ng-class="{'CC':'selected-color-box', 'DC':'deselected-color-box'}[cards.paymentType]" ng-click="cards.paymentType = 'CC'">
                    <p class="card-type-text">
                        <img src='../ui/dist1/img/tab-icons/cards.png' ng-show="cards.paymentType!='CC'" />
                        <img src='../ui/dist1/img/tab-icons/cards-1.png' ng-show="cards.paymentType=='CC'" />
                        
                            Credit Card
                    </p>
                    <input type="radio" ng-model="cards.paymentType" value="CC" class="bank-card-radio-btn">
                </div>
                <!-- <div class="col-md-3 text-center" style="color: black; ">
                    <div class="bank-card">
                        <h3 class="bank-card-name"> 
                            <img src="dist1/img/tab-icons/cards.png"> 
                                Shopping Card
                        </h3>
                        <input type="radio" ng-model="cards.paymetType" value="shopping" class="bank-card-radio-btn">
                    </div>
                </div> -->
            </div>

            <div style="text-align: center; border:none !important; margin-top:100px; margin-bottom:7px;">
                <button ng-click="onPayBtnClicked()" style="width: 150px; margin: 0px auto; border-radius: 15px;" type="button" class="custbtn btn btn-block btn-danger">
                    Pay now</button>
            </div>
        </div>
    
    </div>

    <div class="card-btn-background"></div>

</div>