<div>
    <div class="ui-grid-vertical-bar" style="right:0px;width:1px">&nbsp;</div>

    <div class="ui-grid-cell-contents" style="font-family: 'Fira Sans', sans-serif; font-size: 12px; text-align: center; height: 48px;
     white-space: normal;
     display: table-header-group;
     -ms-text-overflow: clip;
     -o-text-overflow: clip;
     text-overflow: clip;
     overflow: visible;">
        {{col.colDef.name}}
    </div>
</div>