@import url("//maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css");

.ngPopup{
    border : 1px solid lightgrey;
    -webkit-box-shadow: 0px 6px 11px 0px rgba(55, 50, 60, 0.34);
    -moz-box-shadow:    0px 6px 11px 0px rgba(55, 50, 60, 0.34);
    box-shadow:         0px 6px 11px 0px rgba(55, 50, 60, 0.34);
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border-radius: 5px;
    z-index: 1100;
    position:absolute;
    background-color: white;
}

.ngPopup > .container{
    padding: 0;
    width:100%;
    height: 100%;
    position: relative;
    top: 0;
    left: 0;
}

.ngPopup > .container >.titleBar {
    width:100%;
    height:30px;
    position: relative;
    float:left;
    background-color: #f5f5f5;
    cursor: move;
    border-bottom:1px solid lightgrey;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    z-index: 1;
}

.ngPopup  > .container .content{
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    width:100%;
    height: 100%;
    position: relative;
    top: -25px;
    padding-top: 25px;
    float:left;
    overflow: auto;
}

    .ngPopup  > .container .contentNoBar{
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    width:100%;
    height: 100%;
    position: relative;
    top: 35px;
    left: 25px;
    padding-top: 0px;
    float:left;
    overflow: auto;
}

.ngPopup > .container >.resizeCorner > div{
    opacity: 0;
    width:15px;
    height:15px;
    background-color: blue;
    position: absolute;
}

.ngPopup > .container >.resizeCorner > .left-top-corner {
    float:left;
    top: -5px;
    left: -5px;
    cursor: nwse-resize;
}

.ngPopup > .container >.resizeCorner > .left-bottom-corner {
    top: 98%;
    left: -5px;
    cursor: nesw-resize;
}

.ngPopup > .container >.resizeCorner > .right-top-corner {
     top: -5px;
     right: -5px;
     cursor: nesw-resize;
 }

.ngPopup > .container >.resizeCorner > .right-bottom-corner {
    bottom:-5px;
    right: -5px;
    cursor: nwse-resize;
}

.ngPopup > .container >.resizeBar > div {
    opacity: 0;
    position:absolute;
    background-color: red;
}

.ngPopup > .container >.resizeBar > .top-bar {
    width:96%;
    height:6px;
    top: -5px;
    left:2%;
    cursor: ns-resize;
}

.ngPopup > .container >.resizeBar > .bottom-bar {
    width:96%;
    height:6px;
    top: 100%;
    left:2%;
    cursor: ns-resize;
}

.ngPopup > .container >.resizeBar > .right-bar {
    width:6px;
    height:96%;
    top:5px;
    left:100%;
    cursor: ew-resize;
}

.ngPopup > .container >.resizeBar > .left-bar {
    width:6px;
    height:96%;
    top:2%;
    left: -5px;
    cursor: ew-resize;
}

.ngPopup .iconGroup {
    position:relative;
    float: right;
    left: -10px;
    padding-top: 2px;
    padding-bottom: 2px;
}

.ngPopup .iconGroup > i {
    position: relative;
    top: 0px;
    margin-left: 4px;
    font-size: 14px;
    color: grey;
    cursor: pointer;
}

.ngPopup .title{
    font-size: 16px;
    color:grey;
    float: left;
    margin-left: 7px;
    margin-top: 0px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width:30%;
}

.ngPopup .iconGroup > span:hover {
    color: lightcoral;
}

.unselectable {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}