<div style="margin: 10px 40px 0px;" class="box-body">
    <div class="row">
        <div class="col-md-12" >
            <h5 class="select-pay-options-head">
                <img src="../../../../ui/dist1/img/payment/internet-banking-h.png">
                    Popular Banks
            </h5>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3 text-center" style="color: black; ">
            <div class="bank-card">
                <h3 class="bank-card-name">Axis Bank</h3>
                <input type="radio" ng-model="axis" value="axis" class="bank-card-radio-btn">
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <h5 class="select-pay-options-head">
                <img src="../../../../ui/dist1/img/payment/internet-banking-h.png">
                    All Banks
            </h5>
        </div>
        <div class="form-group col-md-6">
            <select class="form-control" name="bankType" ng-model="internetBank.bankType">
                <option value="">Select</option>
                <option value="Kotak">Kotak</option>
                <option value="Axis">Axis</option>
                <option value="Hdfc">Hdfc</option>
            </select>                                          
        </div>
        <div class="col-md-12">
            <div class="form-group">
                <label>
                    <input type="checkbox"  ng-model="internetBank.quickPay_checkbox">
                         Save the bank details for quick pay
                </label>
            </div>    
        </div>
        
    </div>
</div>