<div ng-controller="imageViewerCtrl as ivc">
    <div class="row">
        <div class="col-sm-1">
            &nbsp;
        </div>
        <div class="col-sm-10" style="text-align: center;margin-top: 10%;">
            <div class="row">
                <div class="col-sm-11">
                    <img id="imageid" src="{{ivc.imagedata}}"/><md-button class="md-fab md-mini" ng-click="ivc.downlaodFile()" aria-label="Eat cake"  style="position: absolute;
                                                                             margin-left: -40px;">
                    <i class="fa fa-download" href=""></i>
                </md-button>
                </div>
                <div class="col-sm-1">

                </div>
            </div>
        </div>
        <div class="col-sm-1">
            &nbsp;
        </div>
    </div>
</div>