<div  class="dashboard-body"  style="margin-top: 5px">
test
    <div class="box" ui-view="template"></div>
   <!-- <div class="row">
        <div class="col-sm-12" style="margin-top: 10px;">
            <p class="batch-upload">Initiate Payment</p>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <a href="/redirectTest">Initiate Payment </a>
        </div>
    </div>-->
</div>