<div class="dashboard-body">
    <div class="row">
        <div class="col-sm-12">
            <div class="content-wrapper" style="margin-left: 0px">
                <div class="wrapper">
                    <div class="background-object"></div>
                    <header class="main-header">
                        <nav class="navbar navbar-static-top">
                            <div class="container">
                                <div class="navbar-header">
                                    <a ui-sref="topnavview.pay" class="custLogo navbar-brand"><img src="ui/dist1/img/vector-smart-object.png" class="" alt="User Image"></a>
                                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse">
                                        <i class="fa fa-bars"></i>
                                    </button>
                                </div>
                            </div>
                        </nav>
                    </header>

                    <div id="success">
                        <div style="text-align: center; margin-bottom: 50px;" class="box-body">
                            <img src="ui/dist1/img/failure.png" style="margin-top: 70px;" class="img-circle" alt="User Image">
                            <h4>
                                <b>FAILURE</b></h4>
                            <p style="margin-bottom: 70px;">
                                Payment failure</p>

                        </div>
                    </div>

                    <!-- <footer class="main-footer">
                         <div class="container"><strong>Copyright &copy; 2014-2016.</strong> All rights reserved.</div>
                     </footer>-->
                </div>
            </div>
        </div>
    </div>
</div>



