<div ng-controller="operationCtrl as op" style="margin-top: 5px">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="btn-group btn-group-sm">
                    <div class="row">
                        <div class="col-sm-4">
                            <button type="button" ui-sref=".mandates" class="btn btn-secondary btn-sm active">Mandate Operations
                            </button>

                        </div>
                        <div class="col-sm-1">&nbsp;</div>
                        <div class="col-sm-4">
                            <button type="button" ui-sref=".payment" class="btn btn-secondary btn-sm "> Collection Operations
                            </button>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div ui-view="template"></div>
            </div>
        </div>
    </div>
</div>

