<div class="container-fluid" style=" margin-top:5px;border-style: solid;border-color: black;border-width: 1px" ng-controller="paymentCtrl">
    <div class="row">
        <div class="col-sm-12" style="margin-top: 10px;">
            <p class="batch-upload">Collection Upload </p>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12" style="padding: 0px;">
            <iframe width="100%" height="400" ng-src="http://13.126.208.204:8090/collectionoperations"></iframe>
        </div>
    </div>
</div>