<div class="dashboard-body" ng-controller="sucessFailureCtrl as sf" style="margin-top: 5px">
    <div class="row">
        <div class="col-sm-11">
            <p class="mandate-operation">Opearation / Payment Processing</p>
        </div>
        <div class="col-sm-1">
           <a ui-sref="dashboard"><p class="linked">Back</p></a>
        </div>
    </div>
    <hr/>
    <div class="row">
        <div class="col-sm-1" style="text-align: center;width: 5%;margin-top: 4px;">
            <svg ng-if="sf.status =='success'" aria-hidden="true" data-prefix="fal" data-icon="thumbs-up" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" class="svg-inline&#45;&#45;fa fa-thumbs-up fa-w-16" style="width: 20px;font-size: 3px;"><path fill="currentColor" d="M496.656 285.683C506.583 272.809 512 256 512 235.468c-.001-37.674-32.073-72.571-72.727-72.571h-70.15c8.72-17.368 20.695-38.911 20.695-69.817C389.819 34.672 366.518 0 306.91 0c-29.995 0-41.126 37.918-46.829 67.228-3.407 17.511-6.626 34.052-16.525 43.951C219.986 134.75 184 192 162.382 203.625c-2.189.922-4.986 1.648-8.032 2.223C148.577 197.484 138.931 192 128 192H32c-17.673 0-32 14.327-32 32v256c0 17.673 14.327 32 32 32h96c17.673 0 32-14.327 32-32v-8.74c32.495 0 100.687 40.747 177.455 40.726 5.505.003 37.65.03 41.013 0 59.282.014 92.255-35.887 90.335-89.793 15.127-17.727 22.539-43.337 18.225-67.105 12.456-19.526 15.126-47.07 9.628-69.405zM32 480V224h96v256H32zm424.017-203.648C472 288 472 336 450.41 347.017c13.522 22.76 1.352 53.216-15.015 61.996 8.293 52.54-18.961 70.606-57.212 70.974-3.312.03-37.247 0-40.727 0-72.929 0-134.742-40.727-177.455-40.727V235.625c37.708 0 72.305-67.939 106.183-101.818 30.545-30.545 20.363-81.454 40.727-101.817 50.909 0 50.909 35.517 50.909 61.091 0 42.189-30.545 61.09-30.545 101.817h111.999c22.73 0 40.627 20.364 40.727 40.727.099 20.363-8.001 36.375-23.984 40.727zM104 432c0 13.255-10.745 24-24 24s-24-10.745-24-24 10.745-24 24-24 24 10.745 24 24z" class=""></path></svg>
           <svg ng-if="sf.status !='success'" aria-hidden="true" data-prefix="fas" data-icon="thumbs-down" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" class="svg-inline--fa fa-thumbs-down fa-w-16" style="width: 20px;font-size: 3px;"><path fill="currentColor" d="M0 56v240c0 13.255 10.745 24 24 24h80c13.255 0 24-10.745 24-24V56c0-13.255-10.745-24-24-24H24C10.745 32 0 42.745 0 56zm40 200c0-13.255 10.745-24 24-24s24 10.745 24 24-10.745 24-24 24-24-10.745-24-24zm272 256c-20.183 0-29.485-39.293-33.931-57.795-5.206-21.666-10.589-44.07-25.393-58.902-32.469-32.524-49.503-73.967-89.117-113.111a11.98 11.98 0 0 1-3.558-8.521V59.901c0-6.541 5.243-11.878 11.783-11.998 15.831-.29 36.694-9.079 52.651-16.178C256.189 17.598 295.709.017 343.995 0h2.844c42.777 0 93.363.413 113.774 29.737 8.392 12.057 10.446 27.034 6.148 44.632 16.312 17.053 25.063 48.863 16.382 74.757 17.544 23.432 19.143 56.132 9.308 79.469l.11.11c11.893 11.949 19.523 31.259 19.439 49.197-.156 30.352-26.157 58.098-59.553 58.098H350.723C358.03 364.34 384 388.132 384 430.548 384 504 336 512 312 512z" class=""></path></svg>

         </div>
         <div class="col-sm-10" style="padding: 0px;">
             <div class="row">
                 <div class="col-sm-6">
                     <p ng-if="sf.status =='success'" class="mandate-operation">Successful {{sf.reportType=='M'?'Mandate':'Collection'}}</p>
                     <p ng-if="sf.status !='success'" class="mandate-operation">Failure {{sf.reportType=='M'?'Mandate':'Collection'}}</p>
                 </div>
                 <div class="col-sm-1" style="position: absolute;margin-left: 17%;top: -5px;">
                     <div id="test5" ng-class={'green-text-holder':sf.status=='success','red-text-holder':sf.status!='success'}>
                         <div class="small-circle">{{sf.suceessFailure}}</div>
                     </div>
                 </div>
             </div>
         </div>
     </div>
     <hr/>
     <div class="row">
         <div class="col-sm-2" style="width: 12%;">
             <p class="mandate-operation">Filter by Customer</p>
         </div>
         <div class="col-sm-2 p-0">

             <input type="text" ng-model="sf.filterVal" ng-change="sf.searchGrid(sf.filterVal)"
                    ng-model-options="{debounce: {'default': 300}}">
         </div>
         <div class="col-sm-1">

            <!-- <button type="button" ui-sref=".mandates" class="btn btn-secondary btn-sm active"> Fetch
             </button>-->
         </div>
     </div>

     <div class="row">
         <div ui-grid="sf.gridOptions"  external-scopes="myViewModel" class="grid" style="width: 100%;!important;display: inline-flex;"></div>
     </div>
 </div>