body
{
    font-family: 'Helvetica', sans-serif !important;
}
.custom-badge {
    position: absolute;
    right: 10px;
    top: 25px;
}

.background-object
{
    position: fixed;
    top: 0;
    bottom: 0;
    width: 1250px;
    background-color: #f3f3f3;
    z-index: -1;
}

.main-footer {
    position: fixed;
    bottom: 0;
    width: 1250px;
}

.is-over-due {
    color: red;
    font-weight: 700; 
    font-size: 12px !important;
}

.is-due {
    color: #000;
    font-weight: 700; 
    font-size: 12px !important;
}

.invoice-item {
    padding-left: 30px;
}

.invoice-align-middle {
    position: absolute;
    top: 25px;
}

.invoice-item-clientname {
    font-family: 'Helvetica', sans-serif !important;
    font-size: 18px !important;
}

.transactions-caption {
    font-weight: 600; 
    font-size: 13px !important;
    color: #888;
}

.transactions-value {
    font-weight: 300; 
    font-size: 13px !important;
    color: #888;
}

.bg-abpb-maroon {
    background-color:#A31916;
    height: 35px;
    color: #fff;
}

.left30 {
    padding-top: 10px;
    padding-left: 30px;
}

.bank-entry-chkbx {
    height: 50px;
    padding-top: 10px;
    padding-left: 30px;
}

.bank-entry-content {
  height: 50px;
  padding-top: 5px;
  padding-left: 30px;
}

.select-all-txtbox {
  position: absolute;
  top: 8px;
  left: 31px;
}

.select-all-lbl {
  margin-left: 30px;
  margin-top: -2px;
  font-size: 15px;
}

.upi-entry-content {
  height: 50px;
  padding-top: 12px;
  padding-left: 30px;
}

.is-paid {
    color: #00550C;
    font-weight: 700; 
    font-size: 12px !important;
}

.collapse-btn {
    text-align: left;
    position: relative;
    border-radius: 0;
}

.collapse-btn > .collapse-icon {
    position: absolute;
    right: 10px;
    top: 10px;
}

.badge-success {
  background-color: #468847;
  margin-bottom: 4px;
}

.badge-warning {
  background-color: #f89406;
  margin-bottom: 4px;
}

.loader {
  border: 16px solid #f3f3f3; /* Light grey */
  border-top: 16px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

/* 
.checkbox {
    padding-left: 20px; }
    .checkbox label {
      display: inline-block;
      position: relative;
      padding-left: 5px; }
      .checkbox label::before {
        content: "";
        display: inline-block;
        position: absolute;
        width: 17px;
        height: 17px;
        left: 0;
        margin-left: -20px;
        border: 1px solid #cccccc;
        border-radius: 3px;
        background-color: #fff;
        -webkit-transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
        -o-transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
        transition: border 0.15s ease-in-out, color 0.15s ease-in-out; }
      .checkbox label::after {
        display: inline-block;
        position: absolute;
        width: 16px;
        height: 16px;
        left: 0;
        top: 0;
        margin-left: -20px;
        padding-left: 3px;
        padding-top: 1px;
        font-size: 11px;
        color: #555555; }
    .checkbox input[type="checkbox"] {
      opacity: 0; }
      .checkbox input[type="checkbox"]:focus + label::before {
        outline: thin dotted;
        outline: 5px auto -webkit-focus-ring-color;
        outline-offset: -2px; }
      .checkbox input[type="checkbox"]:checked + label::after {
        font-family: 'FontAwesome';
        content: "\f00c"; }
      .checkbox input[type="checkbox"]:disabled + label {
        opacity: 0.65; }
        .checkbox input[type="checkbox"]:disabled + label::before {
          background-color: #eeeeee;
          cursor: not-allowed; }
    .checkbox.checkbox-circle label::before {
      border-radius: 50%; }
    .checkbox.checkbox-inline {
      margin-top: 0; }
  
  .checkbox-primary input[type="checkbox"]:checked + label::before {
    background-color: #428bca;
    border-color: #428bca; }
  .checkbox-primary input[type="checkbox"]:checked + label::after {
    color: #fff; }
  
  .checkbox-danger input[type="checkbox"]:checked + label::before {
    background-color: #d9534f;
    border-color: #d9534f; }
  .checkbox-danger input[type="checkbox"]:checked + label::after {
    color: #fff; }
  
  .checkbox-info input[type="checkbox"]:checked + label::before {
    background-color: #5bc0de;
    border-color: #5bc0de; }
  .checkbox-info input[type="checkbox"]:checked + label::after {
    color: #fff; }
  
  .checkbox-warning input[type="checkbox"]:checked + label::before {
    background-color: #f0ad4e;
    border-color: #f0ad4e; }
  .checkbox-warning input[type="checkbox"]:checked + label::after {
    color: #fff; }
  
  .checkbox-success input[type="checkbox"]:checked + label::before {
    background-color: #5cb85c;
    border-color: #5cb85c; }
  .checkbox-success input[type="checkbox"]:checked + label::after {
    color: #fff; } */

    .round {
        position: relative;
      }
      
      .round label {
        background-color: #fff;
        border: 1px solid #ccc;
        border-radius: 50%;
        cursor: pointer;
        height: 28px;
        left: 0;
        position: absolute;
        top: 0;
        width: 28px;
      }
      
      .round label:after {
        border: 2px solid #fff;
        border-top: none;
        border-right: none;
        content: "";
        height: 6px;
        left: 7px;
        opacity: 0;
        position: absolute;
        top: 8px;
        transform: rotate(-45deg);
        width: 12px;
      }
      
      .round input[type="checkbox"] {
        visibility: hidden;
      }
      
      .round input[type="checkbox"]:checked + label {
        background-color: #66bb6a;
        border-color: #66bb6a;
      }
      
      .round input[type="checkbox"]:checked + label:after {
        opacity: 1;
      }
  

.full-white-background
{
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #fff;
    z-index: -1;
}

.vendor-header {
  height: 50px;
  width: 100%;
  background-color: #fff;
  position: relative;
  -webkit-box-shadow: 0px 3px 5px 0px rgba(194,194,194,1);
  -moz-box-shadow: 0px 3px 5px 0px rgba(194,194,194,1);
  box-shadow: 0px 3px 5px 0px rgba(194,194,194,1);
  z-index: 999999;
}

.vendor-footer {
  height: 50px;
  line-height: 50px;
  width: 100%;
  background-color: #f1f1f1;
  bottom: 0;
  position: fixed;
  display: block;
  text-align: center;
}

.thin-yellowline {
  width: 100%;
  height: 3px;
  background-color: #feeb34 !important
}

.header-vendor-logo {
  position: absolute;
  top: 10px;
  left: 20px;
  height: 36px;
}

.header-abpb-logo {
  position: absolute;
  top: 10px;
  right: 20px;
  height: 35px;
}

.select-payment-text {
  padding-top: 10px;
  padding-bottom: 2px;
  background-color: #f1f1f1;
  font-size: 13px;
  font-weight: 600;
  margin-bottom: 30px;
}

.card-block {
  position: relative;
}

.card-btn-background {
  height: 50px;
  line-height: 50px;
  width: 100%;
  background-color: #f1f1f1;
  z-index: -1;
  position: absolute;
  bottom: 0;
}

.large-screen-margin {
  max-width: 1100px;
  margin-right: auto;
  margin-left: auto;
  padding-left: 20px;
  padding-right: 20px;
}

.card-type-text {
  font-weight: 450;
}

.card-type-radio-btn {
  top: 5px;
  right: 5px;
  position: absolute;
}

.card-type-box {
  width: 200px;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid #1B3B48;
  border-radius: .25rem;
  position: relative;
  display: inline-block;
  margin-right: 5px;
  color: #1B3B48;
}

.card-type-box > p {
  font-weight: 700;
  margin: 10px 0;
}

.deselected-color-box {
  border: 1px solid #1B3B48;
  color: #1B3B48;
}

.selected-color-box {
  border: 1px solid #E36627;
  color: #E36627;
}