<div class="dashboard-body">
<div class="row">
    <div class="col-sm-12">
        <div class="content-wrapper" style="margin-left: 0px">
            <section class="content">
                <div class="row">
                    <div class="col-md-8">
                        <div id="userInfo" class="box box-widget widget-user" style="display: block;">
                            <div class="widget-user-header">
                            </div>
                            <div class="widget-user-image">
                                <img class="img-circle" src="../ui/dist1/img/user1-128x128.jpg" alt="User Avatar">
                                <h4 class="widget-user-username">{{distributorDetails.p_first_name +" "+ distributorDetails.p_last_name}}</h4>
                            </div>
                            <div class="custfoot box-footer">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group custcontrolinfo col-sm-6">
                                            <label for="inputEmail3" class="custlbl col-sm-5 control-label">
                                                Establishment Name</label>
                                            <div class="col-sm-7">
                                                <label for="inputEmail3" class="custlblres col-sm-12 control-label">{{distributorDetails.p_establishment_name}}</label>
                                            </div>
                                        </div>
                                        <div class="form-group custcontrolinfo col-sm-6">
                                            <label for="inputEmail3" class="custlbl col-sm-5 control-label">
                                                Establishment Id</label>
                                            <div class="col-sm-7">
                                                <label for="inputEmail3" class="custlblres col-sm-12 control-label">{{distributorDetails.p_establishment_id}}</label>
                                            </div>
                                        </div>
                                        <div class="form-group custcontrolinfo col-sm-6">
                                            <label for="inputEmail3" class="custlbl col-sm-5 control-label">
                                                Entity Level</label>
                                            <div class="col-sm-7">
                                                <label for="inputEmail3" class="custlblres col-sm-12 control-label">{{distributorDetails.p_entity_level}}</label>
                                            </div>
                                        </div>
                                        <div class="form-group custcontrolinfo col-sm-6">
                                            <label for="inputEmail3" class="custlbl col-sm-5 control-label">
                                                Mobile #</label>
                                            <div class="col-sm-7">
                                                <label for="inputEmail3" class="custlblres col-sm-12 control-label">{{distributorDetails.p_phone_no_work}}</label>
                                            </div>
                                        </div>
                                        <div class="form-group custcontrolinfo col-sm-6">
                                            <label for="inputEmail3" class="custlbl col-sm-5 control-label">
                                                Emai ID</label>
                                            <div class="col-sm-7">
                                                <label for="inputEmail3" class="custlblres col-sm-12 control-label">{{distributorDetails.p_email_id}}</label>
                                            </div>
                                        </div>
                                        <div class="form-group custcontrolinfo col-sm-6">
                                            <label for="inputEmail3" class="custlbl col-sm-5 control-label">
                                                Proof of Identity</label>
                                            <div class="col-sm-7">
                                                <label for="inputEmail3" class="custlblres col-sm-12 control-label">{{distributorDetails.p_poi_type +"-"+ distributorDetails.p_poi_id}}</label>
                                            </div>
                                        </div>
                                        <div class="form-group custcontrolinfo col-sm-6">
                                            <label for="inputEmail3" class="custlbl col-sm-5 control-label">
                                                Proof of Address</label>
                                            <div class="col-sm-7">
                                                <label for="inputEmail3" class="custlblres col-sm-12 control-label">{{distributorDetails.p_poa_type +"-"+ distributorDetails.p_poa_id}}</label>
                                            </div>
                                        </div>
                                        <div class="form-group custcontrolinfo col-sm-6">
                                            <label for="inputEmail3" class="custlbl col-sm-5 control-label">
                                                Shop Address</label>
                                            <div class="col-sm-7">
                                                <label for="inputEmail3" class="custlblres col-sm-12 control-label">
                                                    {{distributorDetails.p_s_doorno +", "+ distributorDetails.p_s_street}}<br>{{distributorDetails.p_s_city_village_town +", "+ distributorDetails.p_s_district}}<br>{{distributorDetails.p_s_state}}<br>{{distributorDetails.p_s_pincode}}
                                                </label>
                                            </div>
                                        </div>
                                        <div class="form-group custcontrolinfo col-sm-6">
                                            <label for="inputEmail3" class="custlbl col-sm-5 control-label">
                                                Mailing Address </label>
                                            <div class="col-sm-7">
                                                <label for="inputEmail3" class="custlblres col-sm-12 control-label">
                                                    {{distributorDetails.p_m_doorno +", "+ distributorDetails.p_m_street}}<br>{{distributorDetails.p_m_city_village_town +", "+ distributorDetails.p_m_district}}<br>{{distributorDetails.p_m_state}}<br>{{distributorDetails.p_m_pincode}}
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div id="bankInfo" class="nav-tabs-custom" style="display: block;">
                            <ul class="nav nav-tabs">
                                <li ui-sref-active="active"><a ui-sref="topnavview.merchantonboarding.bankdetails" >Bank Details</a></li>
                                <li ui-sref-active="active"><a ui-sref="topnavview.merchantonboarding.upidetails" >UPI Details</a></li>
                            </ul>
                            <div class="box-group">
                                <div class="box" ui-view="template"></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="box box-default">
                            <div class="bannerbody box-body">
                                Placeholder for banners
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>
</div>