<div style="margin: 10px 40px 0px;" class="box-body">
    <div class="bankDetail" ng-repeat="bankDetail in bankDetailsArray">
        <div class="bankACdetails" ng-if="bankDetail !== activeBankDetails">
            <span class="srNo">{{$index+1}}</span>
            <span class="bankName">{{bankDetail.abd_bank_name +' - '+ bankDetail.abd_account_no}}</span>
            <span class="type">{{(bankDetail.abd_crd_dbt_flg == 'C')?"Credit":((bankDetail.abd_crd_dbt_flg == 'D')?"Debit":"Credit & Debit")}}</span>
            <span class="action">
                <a class="editIco" ng-click="onEditBtnClicked(bankDetail)"><i class="fa fa-pencil"
                                                                              aria-hidden="true"></i></a>
                <a class="deleteIco" ng-click="onDeleteBtnClicked($index)"><i class="fa fa-times"
                                                                              aria-hidden="true"></i></a>
            </span>
        </div>

        <div style=" margin-top: 20px;">
            <h4 style="width: 100%;" class="box-title">
                <a data-toggle="collapse" data-parent="#accordion"><span class="nostyle">
                    <b>{{$index+1}}</b></span>
                    <table class="acmy">
                        <tr>
                            <td>
                                I will use this account for my
                            </td>
                            <td>
                                <select class="custcontrol form-control" ng-model="activeBankDetails.abd_crd_dbt_flg">
                                    <option value="C">Credit</option>
                                    <option value="D">Debit</option>
                                    <option value="B">Credit & Debit</option>
                                </select>
                            </td>
                            <td>
                                transactions
                            </td>
                        </tr>
                    </table>
                    <span class="acno"></span></a>
            </h4>
            <div>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label class="custlbl" for="exampleInputEmail1">
                                Account Type</label>
                            <select class="custcontrol form-control" ng-model="activeBankDetails.abd_account_type">
                                <option value="Current">Current</option>
                                <option value="Savings">Savings</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label class="custlbl">Account Holder Name</label>
                            <input class="disabled custcontrol form-control"
                                   ng-model="activeBankDetails.abd_account_holdername">
                        </div>
                        <div class="form-group">
                            <label class="custlbl" for="exampleInputEmail1">
                                Bank Account Number</label>
                            <input type="number" class="custcontrol form-control" placeholder=""
                                   ng-model="activeBankDetails.abd_account_no">
                        </div>
                        <div class="form-group">
                            <label class="custlbl" for="exampleInputEmail1">
                                Re-enter Bank Account Number</label>
                            <input type="number" class="custcontrol form-control"
                                   ng-model="activeBankDetails.accountNumberValidation">
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label class="custlbl" for="exampleInputEmail1">
                                IFSC Code</label>
                            <input ng-model="activeBankDetails.abd_ifsc_code" class="custcontrol form-control"
                                   placeholder="" ng-change="onIFSCCodeChanged()">
                            <a id="ifscSearch" class="ifscSearch" style="color: #3c8dbc;cursor: pointer"
                               ng-click="onIFSCSearchClicked(activeBankDetails.abd_ifsc_code)"><i class="fa fa-search"
                                                                                                  aria-hidden="true"></i></a>
                        </div>
                        <div class="form-group">
                            <label class="custlbl" for="exampleInputEmail1">
                                Bank Name</label>
                            <input class="disabled custcontrol form-control" disabled
                                   ng-model="activeBankDetails.abd_bank_name">
                        </div>
                        <div class="form-group">
                            <label class="custlbl" for="exampleInputEmail1">
                                Branch Name</label>
                            <input type="text" class="disabled custcontrol form-control" disabled
                                   ng-model="activeBankDetails.abd_branch_name">
                        </div>

                    </div>
                </div>
                <div class="form-group">
                    <label>
                        <input type="checkbox" class="flat-red" ng-model="activeBankDetails.abd_preferred_bank_flg"
                               ng-true-value="'Y'" ng-false-value="'N'"
                               ng-change="onDefaultFlagChange(activeBankDetails)">
                        Make this as your default account
                    </label>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="custBoxfot box-footer">
    <button ng-click="onSaveBtnPressed()" type="button" class="custbtn btn-danger btn">
        Save & Continue
    </button>
    <button ng-click="addAnotherAccount()" type="button" class="btn-default btn">
        Add another Account
    </button>
</div>